@charset "utf-8";
/* CSS Document */

img { border:none;}

/*top focus*/
.vg_header_fix{position:fixed; top:0; width:100%; z-index:5000; left:0;}
.focusMask{width:413px; height:400px; position:absolute; top:0;  opacity:0.6; filter:alpha(opacity=60); background:#000; z-index:800;}
.maskL{left:0;}
.maskR{right:0;}
.top_leftbtn{position:absolute; top:160px; left:0; z-index:1000; cursor:pointer;}
.top_rightbtn{position:absolute; top:160px; right:0; z-index:1000; cursor:pointer;}
.topFocusContainer{position:relative; overflow:hidden; width:100%; min-width:1020px; background-color:#000; height:400px;}
.topFocus{height:400px; position:absolute;}
.topFocus li{width:840px; height:400px; overflow:hidden; display:inline-block; position:absolute;}
