* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
HTML {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
BODY {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
H1 {
	FONT-SIZE: 14px
}
H2 {
	FONT-SIZE: 14px
}
H1 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #000; PADDING-TOP: 10px
}
H2 {
	COLOR: #f60
}
INPUT {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
SELECT {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
TEXTAREA {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.noShow {
	DISPLAY: none
}
.noBorder {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.noMargin {
	MARGIN: 0px
}
.noBold {
	FONT-WEIGHT: normal
}
.divC {
	LINE-HEIGHT: 0; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px
}
.wrongTip {
	POSITION: absolute; LINE-HEIGHT: 24px; PADDING-LEFT: 15px; WIDTH: 195px; HEIGHT: 24px; COLOR: #fff
}
.rightTip {
	POSITION: absolute; LINE-HEIGHT: 24px; PADDING-LEFT: 15px; WIDTH: 195px; HEIGHT: 24px; COLOR: #fff
}
.wrongTip {
	BACKGROUND: url(../images/tipBg.gif) no-repeat left top
}
.rightTip {
	BACKGROUND: url(../images/tipBg.gif) no-repeat left -24px
}
A {
	COLOR: #009; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A.controlLink {
	MARGIN-RIGHT: 10px
}
.redFont {
	COLOR: #f00
}
.redFont2 {
	COLOR: #f00; TEXT-DECORATION: underline
}
.grayFont {
	COLOR: #666
}
.greenFont {
	COLOR: #090
}
.deleteFont {
	COLOR: #999; TEXT-DECORATION: line-through
}
.priceFont {
	COLOR: #900; FONT-WEIGHT: bold
}
.discountFont {
	COLOR: #090; FONT-WEIGHT: bold
}
.dateFont {
	COLOR: #900; FONT-WEIGHT: bold
}
.orangeFont {
	COLOR: #f60; FONT-WEIGHT: bold
}
.deleteTab {
	BACKGROUND: #ebebeb
}
.bottomLine {
	BORDER-BOTTOM: #aaa 1px dashed; MARGIN: 0px auto 10px; WIDTH: 720px
}
.shortBottomLine {
	BORDER-BOTTOM: #aaa 1px dashed; MARGIN: 10px 0px; WIDTH: 400px
}
HR {
	MARGIN: 10px auto 30px
}
.itemBar {
	MARGIN-BOTTOM: 10px
}
.marginBottom10 {
	MARGIN-BOTTOM: 10px
}
.crumbBar {
	PADDING-BOTTOM: 5px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 25px; PADDING-TOP: 5px
}
.crumbBar LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FLOAT: left; HEIGHT: 25px; PADDING-TOP: 0px
}
.crumbBar LI A {
	COLOR: #666; FONT-WEIGHT: bold
}
.titleBar {
	
}
.leftCorner {
	LINE-HEIGHT: 27px; FLOAT: left; HEIGHT: 27px
}
.titleContainer {
	LINE-HEIGHT: 27px; FLOAT: left; HEIGHT: 27px
}
.rightCorner {
	LINE-HEIGHT: 27px; FLOAT: left; HEIGHT: 27px
}
.mainInfoTitleContainer {
	LINE-HEIGHT: 27px; FLOAT: left; HEIGHT: 27px
}
.leftCorner {
	WIDTH: 3px; OVERFLOW: hidden
}
.rightCorner {
	WIDTH: 3px; OVERFLOW: hidden
}
.leftCorner {
	BACKGROUND: url(../images/titleLeftCornerLeftBg.jpg) no-repeat; HEIGHT: 27px
}
.titleContainer {
	PADDING-LEFT: 10px; WIDTH: 354px; BACKGROUND: url(../images/titleBg.jpg) repeat-x; FONT-WEIGHT: bold
}
.titleContainer A {
	HEIGHT: 27px; COLOR: #3a829b; TEXT-DECORATION: none
}
.rightCorner {
	BACKGROUND: url(../images/titleLeftCornerRightBg.jpg) no-repeat; HEIGHT: 27px
}
.mainInfoContainer {
	
}
.mainInfoTitleBar {
	BACKGROUND: #ccc; HEIGHT: 27px
}
.mainInfoTitleContainer {
	PADDING-LEFT: 10px; WIDTH: 954px; BACKGROUND: url(../images/titleBg.jpg) repeat-x; HEIGHT: 27px; FONT-WEIGHT: bold
}
.mainInfotitleContainer A {
	HEIGHT: 27px; COLOR: #3a829b; TEXT-DECORATION: none
}
.infoContainer {
	BORDER-BOTTOM: #9e9e9e 1px solid; BORDER-LEFT: #9e9e9e 1px solid; BORDER-TOP: #9e9e9e 1px solid; BORDER-RIGHT: #9e9e9e 1px solid
}
.infoList {
	MARGIN: 0px auto; WIDTH: 350px; PADDING-TOP: 5px
}
.infoList LI {
	BORDER-BOTTOM: #ccc 1px dashed; TEXT-ALIGN: right; LINE-HEIGHT: 30px; BACKGROUND: url(../images/listSign.gif) no-repeat 5px 11px; HEIGHT: 30px
}
.infoList LI SPAN {
	TEXT-ALIGN: left; TEXT-INDENT: 15px; WIDTH: 250px; FLOAT: left
}
.infoList LI SPAN A {
	TEXT-DECORATION: none
}
.infoList LI SPAN A:hover {
	TEXT-DECORATION: underline
}
.infoList .noLine {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.input50 {
	BORDER-BOTTOM: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; LINE-HEIGHT: 21px; HEIGHT: 21px; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid
}
.input100 {
	BORDER-BOTTOM: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; LINE-HEIGHT: 21px; HEIGHT: 21px; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid
}
.input150 {
	BORDER-BOTTOM: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; LINE-HEIGHT: 21px; HEIGHT: 21px; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid
}
.input180 {
	BORDER-BOTTOM: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; LINE-HEIGHT: 21px; HEIGHT: 21px; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid
}
.input200 {
	BORDER-BOTTOM: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; LINE-HEIGHT: 21px; HEIGHT: 21px; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid
}
.select200 {
	BORDER-BOTTOM: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; LINE-HEIGHT: 21px; HEIGHT: 21px; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid
}
.input50 {
	PADDING-LEFT: 5px; WIDTH: 50px
}
.input100 {
	PADDING-LEFT: 5px; WIDTH: 95px
}
.input150 {
	PADDING-LEFT: 5px; WIDTH: 145px
}
.input180 {
	PADDING-LEFT: 5px; WIDTH: 175px
}
.input200 {
	PADDING-LEFT: 5px; WIDTH: 195px
}
.select100 {
	LINE-HEIGHT: 23px; HEIGHT: 23px
}
.select150 {
	LINE-HEIGHT: 23px; HEIGHT: 23px
}
.select180 {
	LINE-HEIGHT: 23px; HEIGHT: 23px
}
.select200 {
	LINE-HEIGHT: 23px; HEIGHT: 23px
}
.select100 {
	WIDTH: 100px
}
.select150 {
	WIDTH: 152px
}
.select180 {
	WIDTH: 182px
}
.select200 {
	WIDTH: 202px
}
.fileInput150 {
	LINE-HEIGHT: 23px; HEIGHT: 23px
}
.inputArea {
	LINE-HEIGHT: 25px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; WIDTH: 395px; HEIGHT: 200px
}
FIELDSET {
	WIDTH: 395px
}
.inputArea700 {
	LINE-HEIGHT: 25px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; WIDTH: 700px; HEIGHT: 200px
}
.focusBorder {
	BORDER-BOTTOM: #0c0 1px solid; BORDER-LEFT: #0c0 1px solid; BORDER-TOP: #0c0 1px solid; BORDER-RIGHT: #0c0 1px solid
}
.btn40 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 20px; HEIGHT: 20px; COLOR: #000; VERTICAL-ALIGN: middle; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none; _height: 21px; _line-height: 21px
}
.btn60 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 20px; HEIGHT: 20px; COLOR: #000; VERTICAL-ALIGN: middle; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none; _height: 21px; _line-height: 21px
}
.btn100 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 20px; HEIGHT: 20px; COLOR: #000; VERTICAL-ALIGN: middle; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none; _height: 21px; _line-height: 21px
}
.btn40 {
	WIDTH: 40px; BACKGROUND: url(../images/btnBg.gif) no-repeat left 0px
}
.btn60 {
	WIDTH: 63px; BACKGROUND: url(../images/btnBg.gif) no-repeat left -20px
}
.btn100 {
	WIDTH: 100px; BACKGROUND: url(../images/btnBg.gif) no-repeat left -40px
}
.formTitle {
	BORDER-BOTTOM: #aaa 1px dashed; LINE-HEIGHT: 25px; TEXT-INDENT: 25px; MARGIN: 0px auto 20px; WIDTH: 720px; BACKGROUND: url(../images/titleSign.gif) no-repeat left 4px; HEIGHT: 25px; FONT-WEIGHT: bold
}
.formTab {
	MARGIN: 0px auto 20px; WIDTH: 720px
}
.formTab TBODY TH {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.formTab TBODY TD {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.formTab TBODY TH {
	TEXT-ALIGN: right; WIDTH: 150px; VERTICAL-ALIGN: top
}
.formTab TBODY TD {
	WIDTH: 570px
}
.submitContainer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 20px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 720px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.formSubTab {
	WIDTH: 400px; MARGIN-BOTTOM: 10px
}
.formSubTab TBODY TH {
	TEXT-ALIGN: right; WIDTH: 100px
}
.formSubTab TBODY TD {
	WIDTH: 300px
}
.formSubTab2 {
	WIDTH: 300px; MARGIN-BOTTOM: 10px
}
.formSubTab2 TBODY TD {
	PADDING-LEFT: 20px
}
.stepTab {
	MARGIN: 20px auto; WIDTH: 720px
}
.stepTab TBODY TH {
	LINE-HEIGHT: 26px; HEIGHT: 26px
}
.stepTab TBODY TD {
	LINE-HEIGHT: 26px; HEIGHT: 26px
}
.stepTab TBODY TH {
	TEXT-ALIGN: right; WIDTH: 518px
}
.stepTab TBODY TD {
	TEXT-ALIGN: center; WIDTH: 101px
}
A.step1On {
	TEXT-INDENT: -9999px; WIDTH: 101px; DISPLAY: block; OVERFLOW: hidden
}
A.step1Out {
	TEXT-INDENT: -9999px; WIDTH: 101px; DISPLAY: block; OVERFLOW: hidden
}
A.step2On {
	TEXT-INDENT: -9999px; WIDTH: 101px; DISPLAY: block; OVERFLOW: hidden
}
A.step2Out {
	TEXT-INDENT: -9999px; WIDTH: 101px; DISPLAY: block; OVERFLOW: hidden
}
A.step1On {
	BACKGROUND: url(../images/stepBg.gif) no-repeat 0px 0px
}
A.step1Out {
	BACKGROUND: url(../images/stepBg.gif) no-repeat 0px -29px
}
A.step2On {
	BACKGROUND: url(../images/stepBg.gif) no-repeat -101px -30px
}
A.step2Out {
	BACKGROUND: url(../images/stepBg.gif) no-repeat -101px 0px
}
.historyTd {
	POSITION: relative
}
.dataListDiv {
	MARGIN: 0px auto; WIDTH: 720px
}
.pageBarTab {
	PADDING-BOTTOM: 5px; WIDTH: 720px; MARGIN-BOTTOM: 10px
}
.pageBarTab TBODY TH {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.pageBarTab TBODY TD {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.pageBarTab TBODY TH {
	TEXT-ALIGN: left; WIDTH: 220px
}
.pageBarTab TBODY TD {
	WIDTH: 500px
}
.pageBar {
	
}
.pageBar LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FLOAT: right; HEIGHT: 25px; PADDING-TOP: 0px
}
.listTab {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 720px; BORDER-COLLAPSE: collapse; MARGIN-BOTTOM: 10px; TABLE-LAYOUT: fixed; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.listTab THEAD TH {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 25px; HEIGHT: 25px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.listTab TBODY TD {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 25px; HEIGHT: 25px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.listTab TFOOT TD {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 25px; HEIGHT: 25px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.listTab THEAD TH {
	BACKGROUND: #9c0; COLOR: #fff
}
.listTab TBODY TR {
	BACKGROUND: #fafafa
}
.listTab TBODY .zebraBg {
	BACKGROUND: #f0f0f0
}
.listTab TFOOT TD {
	TEXT-ALIGN: right; PADDING-RIGHT: 10px
}
.titleTd {
	TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.goodsFindBtn {
	TEXT-ALIGN: right; LINE-HEIGHT: 30px; HEIGHT: 30px
}
.leftLoginForm {
	BORDER-BOTTOM: #9e9e9e 1px solid; BORDER-LEFT: #9e9e9e 1px solid; PADDING-BOTTOM: 17px; PADDING-LEFT: 0px; WIDTH: 198px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 10px; BORDER-TOP: medium none; BORDER-RIGHT: #9e9e9e 1px solid; PADDING-TOP: 8px
}
.leftLoginFormTab {
	MARGIN: 0px auto; WIDTH: 180px
}
.leftLoginFormTab TBODY TH {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.leftLoginFormTab TBODY TD {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.leftLoginFormTab TFOOT TD {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.leftLoginFormTab TBODY TH {
	TEXT-ALIGN: right; WIDTH: 70px
}
.leftLoginFormTab TBODY TD {
	TEXT-ALIGN: left; WIDTH: 110px
}
.leftSearchForm {
	BORDER-BOTTOM: #9e9e9e 1px solid; BORDER-LEFT: #9e9e9e 1px solid; PADDING-BOTTOM: 7px; PADDING-LEFT: 0px; WIDTH: 198px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 10px; BORDER-TOP: medium none; BORDER-RIGHT: #9e9e9e 1px solid; PADDING-TOP: 8px
}
.leftSearchFormTab {
	MARGIN: 0px auto; WIDTH: 180px
}
.leftSearchFormTab TBODY TH {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.leftSearchFormTab TBODY TD {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.leftSearchFormTab TFOOT TD {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.leftSearchFormTab TBODY TH {
	TEXT-ALIGN: right; WIDTH: 70px
}
.leftSearchFormTab TBODY TD {
	TEXT-ALIGN: left; WIDTH: 110px
}
.leftFormSubmitContainer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 180px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.floatWindowHistory {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 400px; BACKGROUND: #fff; TOP: 30px; RIGHT: 11px
}
.floatWindowHistory .bar {
	BORDER-BOTTOM: #7fa7c2 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #7fa7c2 1px solid; LINE-HEIGHT: 24px; PADDING-LEFT: 10px; BACKGROUND: url(../images/floatWindowsBg.jpg) repeat-x; HEIGHT: 24px; BORDER-TOP: #7fa7c2 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #7fa7c2 1px solid
}
.floatWindowHistory .historyBox {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; BORDER-TOP: medium none; BORDER-RIGHT: #7fa7c2 1px solid
}
.floatWindowHistory .control {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #bdd2e0 1px solid; PADDING-TOP: 10px
}
.floatWindowHistory .listBox {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; BORDER-TOP: medium none; BORDER-RIGHT: #7fa7c2 1px solid
}
.floatWindowHistory .listBox OL {
	PADDING-BOTTOM: 5px; OVERFLOW-X: hidden; TEXT-INDENT: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 300px; OVERFLOW: scroll; PADDING-TOP: 5px
}
.floatWindowHistory .listBox OL LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 25px; PADDING-LEFT: 10px; HEIGHT: 25px
}
.floatWindow {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 350px; BACKGROUND: #fff; HEIGHT: auto; TOP: 300px; LEFT: 550px
}
.floatWindow .bar {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 22px; PADDING-LEFT: 6px; PADDING-RIGHT: 1px; BACKGROUND: url(../images/floatWindowsBg.jpg) repeat-x; HEIGHT: 22px; BORDER-TOP: #7fa7c2 1px solid; BORDER-RIGHT: #7fa7c2 1px solid; PADDING-TOP: 1px
}
.floatWindow .bar .title {
	FLOAT: left; FONT-WEIGHT: bold
}
.floatWindow .infoBox {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; BACKGROUND: #fff; BORDER-TOP: medium none; BORDER-RIGHT: #7fa7c2 1px solid; PADDING-TOP: 10px
}
.windowSubmitContainer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #bdd2e0 1px solid; PADDING-TOP: 10px
}
.certificateCodeTab {
	MARGIN: 0px auto 10px; WIDTH: 300px
}
.certificateCodeTab CAPTION {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #f60; PADDING-TOP: 10px
}
.certificateCodeTab TH {
	LINE-HEIGHT: 25px; HEIGHT: 25px
}
.applyForCodeTab TD {
	LINE-HEIGHT: 25px; HEIGHT: 25px
}
.certificateCodeTab TH {
	TEXT-ALIGN: right; WIDTH: 100px
}
.certificateCodeTab TD {
	WIDTH: 200px
}
.getCodeLink {
	TEXT-ALIGN: right; LINE-HEIGHT: 35px; PADDING-RIGHT: 5px; HEIGHT: 35px
}
.waitInfo {
	LINE-HEIGHT: 25px; MARGIN: 0px auto 10px; WIDTH: 300px
}
.applyForCodeWindow {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 500px; BACKGROUND: #fff; HEIGHT: auto; TOP: 500px; LEFT: 550px
}
.applyForCodeWindow .bar {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 22px; PADDING-LEFT: 6px; PADDING-RIGHT: 1px; BACKGROUND: url(../images/floatWindowsBg.jpg) repeat-x; HEIGHT: 22px; BORDER-TOP: #7fa7c2 1px solid; BORDER-RIGHT: #7fa7c2 1px solid; PADDING-TOP: 1px
}
.applyForCodeWindow .bar .title {
	FLOAT: left; FONT-WEIGHT: bold
}
.applyForCodeWindow .infoBox {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; BACKGROUND: #fff; BORDER-TOP: medium none; BORDER-RIGHT: #7fa7c2 1px solid; PADDING-TOP: 10px
}
.applyForCodeTab {
	MARGIN: 0px auto 10px; WIDTH: 450px
}
.applyForCodeTab TH {
	LINE-HEIGHT: 25px; HEIGHT: 25px
}
.applyForCodeTab TD {
	LINE-HEIGHT: 25px; HEIGHT: 25px
}
.applyForCodeTab TH {
	TEXT-ALIGN: right; WIDTH: 100px
}
.applyForCodeTab TD {
	WIDTH: 350px
}
.applyForCodeTitle {
	BORDER-BOTTOM: #aaa 1px dashed; LINE-HEIGHT: 25px; TEXT-INDENT: 25px; MARGIN: 0px auto 10px; WIDTH: 450px; BACKGROUND: url(../images/titleSign.gif) no-repeat left 4px; HEIGHT: 25px; FONT-WEIGHT: bold
}
.feedBackWindow {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 350px; BACKGROUND: #fff; HEIGHT: auto; TOP: 900px; LEFT: 550px
}
.feedBackWindow .bar {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 22px; PADDING-LEFT: 6px; PADDING-RIGHT: 1px; BACKGROUND: url(../images/floatWindowsBg.jpg) repeat-x; HEIGHT: 22px; BORDER-TOP: #7fa7c2 1px solid; BORDER-RIGHT: #7fa7c2 1px solid; PADDING-TOP: 1px
}
.feedBackWindow .bar .title {
	FLOAT: left; FONT-WEIGHT: bold
}
.feedBackWindow .infoBox {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; BACKGROUND: #fff; BORDER-TOP: medium none; BORDER-RIGHT: #7fa7c2 1px solid; PADDING-TOP: 10px
}
.waitInfo {
	LINE-HEIGHT: 25px; MARGIN: 0px auto 10px; WIDTH: 300px
}
.wrongInfo {
	TEXT-ALIGN: center; MARGIN: 100px auto; FONT-SIZE: 14px
}
.wrongInfo IMG {
	VERTICAL-ALIGN: middle
}
.wrongInfo SPAN {
	PADDING-BOTTOM: 30px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 30px
}
.floatWindowForgotPassword {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 350px; BACKGROUND: #fff; HEIGHT: auto; TOP: 100px; LEFT: 550px
}
.floatWindowInputPassword {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 350px; BACKGROUND: #fff; HEIGHT: auto; TOP: 100px; LEFT: 550px
}
.floatWindowResetPassword {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 350px; BACKGROUND: #fff; HEIGHT: auto; TOP: 100px; LEFT: 550px
}
.floatWindowCallBack {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 350px; BACKGROUND: #fff; HEIGHT: auto; TOP: 100px; LEFT: 550px
}
.floatWindowInputPassword {
	TOP: 350px
}
.floatWindowResetPassword {
	TOP: 550px
}
.floatWindowForgotPassword .bar {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 22px; PADDING-LEFT: 6px; PADDING-RIGHT: 1px; BACKGROUND: url(../images/floatWindowsBg.jpg) repeat-x; HEIGHT: 22px; BORDER-TOP: #7fa7c2 1px solid; BORDER-RIGHT: #7fa7c2 1px solid; PADDING-TOP: 1px
}
.floatWindowInputPassword .bar {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 22px; PADDING-LEFT: 6px; PADDING-RIGHT: 1px; BACKGROUND: url(../images/floatWindowsBg.jpg) repeat-x; HEIGHT: 22px; BORDER-TOP: #7fa7c2 1px solid; BORDER-RIGHT: #7fa7c2 1px solid; PADDING-TOP: 1px
}
.floatWindowResetPassword .bar {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 22px; PADDING-LEFT: 6px; PADDING-RIGHT: 1px; BACKGROUND: url(../images/floatWindowsBg.jpg) repeat-x; HEIGHT: 22px; BORDER-TOP: #7fa7c2 1px solid; BORDER-RIGHT: #7fa7c2 1px solid; PADDING-TOP: 1px
}
.floatWindowCallBack .bar {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 22px; PADDING-LEFT: 6px; PADDING-RIGHT: 1px; BACKGROUND: url(../images/floatWindowsBg.jpg) repeat-x; HEIGHT: 22px; BORDER-TOP: #7fa7c2 1px solid; BORDER-RIGHT: #7fa7c2 1px solid; PADDING-TOP: 1px
}
.floatWindowForgotPassword .bar .title {
	FLOAT: left; FONT-WEIGHT: bold
}
.floatWindowInputPassword .bar .title {
	FLOAT: left; FONT-WEIGHT: bold
}
.floatWindowResetPassword .bar .title {
	FLOAT: left; FONT-WEIGHT: bold
}
.floatWindowCallBack .bar .title {
	FLOAT: left; FONT-WEIGHT: bold
}
.floatWindowForgotPassword .infoBox {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; BACKGROUND: #fff; BORDER-TOP: medium none; BORDER-RIGHT: #7fa7c2 1px solid; PADDING-TOP: 10px
}
.floatWindowInputPassword .infoBox {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; BACKGROUND: #fff; BORDER-TOP: medium none; BORDER-RIGHT: #7fa7c2 1px solid; PADDING-TOP: 10px
}
.floatWindowResetPassword .infoBox {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; BACKGROUND: #fff; BORDER-TOP: medium none; BORDER-RIGHT: #7fa7c2 1px solid; PADDING-TOP: 10px
}
.floatWindowCallBack .infoBox {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; BACKGROUND: #fff; BORDER-TOP: medium none; BORDER-RIGHT: #7fa7c2 1px solid; PADDING-TOP: 10px
}
.windowSubmitContainer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #bdd2e0 1px solid; PADDING-TOP: 10px
}
.getPasswordTab {
	MARGIN: 0px auto 10px; WIDTH: 300px
}
.getPasswordTab CAPTION {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.getPasswordTab TH {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.applyForCodeTab TD {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.getPasswordTab TH {
	TEXT-ALIGN: right; WIDTH: 100px
}
.getPasswordTab TD {
	WIDTH: 200px
}
.getCodeLink {
	TEXT-ALIGN: right; LINE-HEIGHT: 35px; PADDING-RIGHT: 5px; HEIGHT: 35px
}
.waitInfo {
	LINE-HEIGHT: 25px; MARGIN: 0px auto 10px; WIDTH: 300px
}
.floatWindowCallBack .listBox {
	BORDER-BOTTOM: #7fa7c2 1px solid; BORDER-LEFT: #7fa7c2 1px solid; BACKGROUND: #fff; BORDER-TOP: medium none; BORDER-RIGHT: #7fa7c2 1px solid
}
.floatWindowCallBack .info {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
.floatWindowCallBack .info .loginTab TD {
	FONT-SIZE: 12px
}
.floatWindowCallBack .control {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #bdd2e0 1px solid; PADDING-TOP: 10px
}
.contentTitle {
	BORDER-BOTTOM: #aaa 1px dashed; LINE-HEIGHT: 25px; TEXT-INDENT: 25px; MARGIN: 10px auto; WIDTH: 720px; BACKGROUND: url(../images/titleSign.gif) no-repeat left 4px; HEIGHT: 25px; FONT-WEIGHT: bold
}
.subTitle {
	TEXT-ALIGN: left; LINE-HEIGHT: 25px; MARGIN: 10px auto; WIDTH: 620px; HEIGHT: 25px; FONT-WEIGHT: bold
}
.contentContainer {
	MARGIN: 0px auto; WIDTH: 900px; PADDING-TOP: 10px
}
.contentContainer P {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 14px; WORD-BREAK: break-all; PADDING-TOP: 10px
}
.contentContainer P A {
	TEXT-DECORATION: underline
}
.date {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #666; PADDING-TOP: 10px
}
.author {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #666; PADDING-TOP: 10px
}
.opinionTab {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 220px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.opinionTab TBODY TD {
	WIDTH: 220px; WORD-BREAK: break-all
}
.star1 {
	DISPLAY: block; HEIGHT: 22px
}
.star2 {
	DISPLAY: block; HEIGHT: 22px
}
.star3 {
	DISPLAY: block; HEIGHT: 22px
}
.star4 {
	DISPLAY: block; HEIGHT: 22px
}
.star5 {
	DISPLAY: block; HEIGHT: 22px
}
.star6 {
	DISPLAY: block; HEIGHT: 22px
}
.star7 {
	DISPLAY: block; HEIGHT: 22px
}
.star1 {
	BACKGROUND: url(../images/hotel/starSign.gif) no-repeat left 0px
}
.star2 {
	BACKGROUND: url(../images/hotel/starSign.gif) no-repeat left -22px
}
.star3 {
	BACKGROUND: url(../images/hotel/starSign.gif) no-repeat left -44px
}
.star4 {
	BACKGROUND: url(../images/hotel/starSign.gif) no-repeat left -66px
}
.star5 {
	BACKGROUND: url(../images/hotel/starSign.gif) no-repeat left -88px
}
.star6 {
	BACKGROUND: url(../images/hotel/starSign.gif) no-repeat left -110px
}
