@charset "utf-8";
/* CSS Document */
body{margin:0px; padding:0px; font-size:12px; font-family:"微软雅黑"; color:#555; background:#f6f5f3;}
a{color:#555; text-decoration:none; outline:none;}
a:active{star:expression(this.onFocus=this.blur());} 
img{border:0px;}
a:link {text-decoration: none; outline:none;}
a:visited{text-decoration: none; outline:none;}
a:hover{text-decoration:underline; color:#e70012; outline:none;}
ul, p, dl, dt, dd{padding:0px; margin:0px;}
li{list-style-position:outside; list-style-type:none;}
h1, h2, h3, h4, h5{font-size:14px; padding:0px; margin:0px;}
h1{font-size:16px; font-weight:400;}
h5{font-size:12px;}
.fl{float:left;}
.fr{float:right;}
.clear_f{clear:both; height:0px; padding:0px; margin:0px; display:block; _display:inherit;}
.h10{height:10px; overflow:hidden; clear:both;}
.h14{height:14px; overflow:hidden; clear:both;}
.h15{height:15px; overflow:hidden; clear:both;}
.h20{height:20px; overflow:hidden; clear:both;}
.h25{height:25px; overflow:hidden; clear:both;}
.w791{width:791px; overflow:hidden;}
.w547{width:547px; padding-left:20px;}
.w222{width:222px;}
em, i{font-style:normal;}
input, textarea{border:0px; padding:0px; color:#666; background:transparent; font-family:"微软雅黑";}
.btn1Now{text-decoration:underline;}

.wal{width:1000px; margin:0px auto;}
.w990{width:990px;}
.w980{width:980px; margin:0px auto;}
.w993{width:993px; margin:0px auto;}
.w724{width:724px; overflow:hidden;}
.w735{width:735px; overflow:hidden;}
.w776{width:776px; overflow:hidden;}
.w782{width:782px; overflow:hidden;}
.w737{width:737px; overflow:hidden;}
.w242{width:242px; overflow:hidden;}
.w268{width:268px; overflow:hidden;}
.w239{width:239px; overflow:hidden;}
.w722{width:722px;}
.w260{width:260px; overflow:hidden;}
.w200{width:200px; overflow:hidden;}
.w206{width:206px; overflow:hidden;}
.red{color:#e70012;}
.blue{color:#2472c9;}

.topDiv{height:33px; line-height:33px; overflow:hidden; background:#f1f1f1; color:#666;}
.topDiv .fl{padding-left:30px;}
.topDiv a{color:#666;}
.topDiv a:hover{color:#e70012;}
.topDiv li{float:left;}
.topDiv .list{padding-right:40px;}
.topDiv .list li{padding:0 9px 0 8px; background:url(../image/topIco.gif) right center no-repeat;}
.topDiv .list img{position:relative; left:3px; top:1px;}
.topDiv .btn{background:url(../image/topIco.gif) left center no-repeat; padding:0 22px 0 9px; height:33px; overflow:hidden;}
.topDiv .btn li{padding:5px 0 0 4px;}

.headDiv, .headDiv .wal{height:101px; overflow:hidden; background:#fff; position:relative;}
.headDiv .logo{position:absolute; z-index:10; left:30px; top:25px;}
.topSearch{position:absolute; z-index:10; left:240px; top:35px; width:340px; height:29px; overflow:hidden; border:#1e1e1e solid 2px;}
.topSearch div{float:left; width:54px; padding-left:11px; height:29px; line-height:29px; overflow:hidden; cursor:pointer; color:#070707; background:url(../image/topSearch.gif) right center no-repeat;}
.topSearch .input1{float:left; width:192px; height:29px; line-height:29px; padding:0 10px;}
.topSearch .btn1{float:left; cursor:pointer; width:63px; height:29px; background:#070707; color:#FFF;}
.topSearchLayer{position:absolute; z-index:15; left:240px; top:66px; border:#1e1e1e solid 2px; background:#FFF; border-top:0px; width:65px; overflow:hidden; display:none;}
.topSearchLayer a{display:block; height:29px; line-height:29px; overflow:hidden; padding-left:11px;}
.headDiv .mapA{position:absolute; z-index:1; top:43px; left:600px; white-space:nowrap; text-decoration:underline;}
.headDiv .btnDiv{position:absolute; z-index:10; top:32px; right:22px;}
.headDiv .btnDiv li{float:left; padding-left:12px;}
.headDiv .btnDiv a{display:block; float:left; padding:0 22px 0 7px; height:30px; line-height:30px; overflow:hidden; background:#f7f7f7 url(../image/ico1.gif) right center no-repeat; border:#efefef solid 1px;}
.headDiv .btnDiv img{float:left; position:relative; top:6px; margin-right:6px;}
.headDiv .num{background:url(../image/topNum.gif) left top no-repeat; width:19px; height:20px; line-height:18px; text-align:center; overflow:hidden; color:#FFF; position:absolute; z-index:11; top:20px; right:108px;}

.topCartLayer{position:absolute; z-index:100; top:88px; left:50%; margin-left:85px; width:402px; overflow:hidden; display:none;}
.topCartLayer .bgT{background:url(../image/topCartLayerT.png); height:24px;}
.topCartLayer .bgB{background:url(../image/topCartLayerB.png); height:16px;}
.topCartLayer .bg{background:url(../image/topCartLayer.png) left repeat-y; min-height:100px; _height:100px; padding:0 25px;}
.topCartLayer h5{padding:5px 0 15px 0; background:url(../image/line.gif) bottom repeat-x;}
.topCartLayer li{height:84px; overflow:hidden; position:relative; padding:0 82px 0 92px; line-height:16px; background:url(../image/line.gif) bottom repeat-x;}
.topCartLayer .imgDiv{position:absolute; left:1px; top:15px;}
.topCartLayer .price{position:absolute; white-space:nowrap; top:15px; right:1px;}
.topCartLayer .btn{position:absolute; white-space:nowrap; top:52px; right:1px;}
.topCartLayer .name{padding:15px 0 3px 0;}
.topCartLayer .btnDiv{padding-top:12px; height:40px; overflow:hidden;}
.topCartLayer .btnDiv a{display:block; background:url(../image/btn1.gif) left top no-repeat; width:100px; height:32px; line-height:32px; text-align:center; overflow:hidden; margin:0 auto; color:#FFF;}

.nav, .nav .wal{height:34px; background:#000; position:relative; color:#FFF;}
.nav li{float:left; padding:0 11px; position:relative; left:25px;}
.nav a{color:#FFF; font-size:15px; display:block; float:left; height:34px; line-height:34px; padding:0 9px; position:relative;}
.nav a img{position:absolute; top:5px; right:-25px;}
.nav a:hover, .nav .aNow, .nav .aNow1{text-decoration:none; background:#e60012; color:#FFF;}
.nav .tel{position:absolute; z-index:1; top:10px; right:18px;}

.sNav{position:absolute; z-index:100; left:0px; top:168px; width:100%; background:url(../image/sNav.png) top repeat-x; height:298px; overflow:hidden; display:none;}
.sNav .list{width:270px; overflow:hidden; padding-left:45px;}
.sNav .list li{float:left; width:135px; height:40px; line-height:40px; font-size:14px; overflow:hidden;}
.sNav .list h2{padding:35px 0 10px 0; font-size:15px;}
.sNav .fr{padding-top:102px;}

.footNav{background:#FFF; border-top:#232323 solid 5px;}
.footNav .wal{height:184px; overflow:hidden; position:relative;}
.footNav .ewm{position:absolute; z-index:10; left:0px; top:25px; line-height:19px; color:#666;}
.footNav .ewm li{float:left; width:87px; overflow:hidden;}
.footNav .ewm li div{padding-bottom:3px; font-size:13px;}
.footNav .ewm .li_01{width:145px; padding-top:22px; font-size:12px;}
.footNav .tel{position:absolute; z-index:10; left:0px; top:125px; font-size:26px; font-weight:bold; color:#ababab;}
.footNav .tel img{float:left; margin-right:6px; position:relative; top:7px;}
.footNav .list{padding-left:300px;}
.footNav .list li{float:left; width:170px; height:184px; padding:0 0 0 60px; overflow:hidden; position:relative;}
.footNav .list img{position:absolute; left:43px; top:25px;}
.footNav .list h2{padding:32px 0 0 25px; height:28px; overflow:hidden;}
.footNav .list dl{height:95px; overflow:hidden; padding-left:25px; border-left:#d9d8d8 solid 1px;}
.footNav .list dd{height:24px; line-height:24px; overflow:hidden;}
.footNav .list a{color:#666;}
.footNav .list a:hover{color:#e70012;}

.footDiv{height:36px; line-height:36px; overflow:hidden; background:#000; color:#a7a7a7;}
.footDiv .fl{position:relative; left:-6px;}
.footDiv a{color:#a7a7a7; padding:0 6px;}

.pageBox{border:#dbdbdb solid 1px; background:#FFF; min-height:200px; _height:200px;}

.memberTitle{background:url(../image/memberTitle.gif) left top no-repeat; height:45px; overflow:hidden; position:relative;}
.memberTitle h1{font-size:18px; line-height:40px; padding-left:27px;}
.memberTitle .tips{padding:0 7px 0 9px; height:17px; line-height:17px; overflow:hidden; color:#fff; background:#e60012 url(../image/tipsBg1.gif) left top no-repeat; position:absolute; z-index:10; left:111px; top:12px;}
.memberTitle .btn{width:132px; height:40px; line-height:40px; overflow:hidden; background:url(../image/lbtn5.png) left top no-repeat; display:block; position:absolute; right:0px; top:0px; z-index:10; color:#fff; font-size:14px;}
.memberTitle .btn img{float:left; margin:0 10px 0 20px; position:relative; top:13px;}
.memberTitle .btn1 img{margin:0 8px 0 32px;}
.memberTitle .btn2{text-align:center;}
.memberTitle .more{position:absolute; z-index:1; top:0px; right:10px; line-height:40px;}
.memberTitle .btn_1{display:block; background:url(../image/btn6.png) left top no-repeat; width:102px; height:29px; line-height:29px; text-align:center; color:#FFF; position:absolute; top:6px; right:8px;}
/**/
.memberTitle .tab{position:absolute; left:130px; top:7px; height:33px; overflow:hidden;}
.memberTitle .tab li{float:left; width:112px; height:33px; line-height:33px; text-align:center; font-size:14px; background:url(../image/limg112.png) left top no-repeat; margin-right:1px;}
.memberTitle .tab .liNow{background:url(../image/limg112_1.png) left top no-repeat; color:#fff;}
/**/
.memberTitle2{background:url(../image/memberTitle2.gif) left top no-repeat; height:41px;}
.memberTitle2 .tab{height:32px;}
/**/
.memberTitle3{background:url(../image/memberTitle3.gif) left top no-repeat; height:41px;}
.memberTitle3 h1{padding-left:19px;}
.memberTitle3 .tab{left:7px; top:9px;}
.memberTitle3 .tab li{width:68px; height:30px; line-height:30px; overflow:hidden; background:url(../image/tab1.gif) right top no-repeat; margin-right:2px;}
.memberTitle3 .tab .liNow{background:url(../image/tab1.gif) left top no-repeat;}

.tabContent{display:none;}

.selectDiv{cursor:pointer;}
.selectDiv span{padding-left:5px;}
.selectDiv select{display:none;}
/**/
.selectLayer{position:absolute; z-index:100; display:none; background:#FFF; border:#bababa solid 1px;}
.selectLayer li{height:22px; line-height:22px; overflow:hidden; padding-left:5px; color:#666;}

.sideNav{background:url(../image/sideNav.gif) left repeat-y; width:181px; padding-left:1px; min-height:200px; _height:200px;}
.sideNav h2{height:38px; line-height:38px; width:142px; padding-left:36px; overflow:hidden; background:#3f3f3f; color:#fff; position:relative;}
.sideNav h2 img{position:absolute; left:12px; top:11px;}
.sideNav li{float:left; width:178px; overflow:hidden;}
.sideNav a{color:#666; height:27px; line-height:27px; overflow:hidden; padding-left:36px; border-bottom:#e2e2e2 solid 1px; display:block;}
.sideNav a:hover, .sideNav .aNow{background:url(../image/sideNav2.gif) left top no-repeat;}
.sideNav b{display:inline-block; width:34px; text-align:center; height:14px; line-height:14px; color:#fff; overflow:hidden; background:url(../image/lbg2.png) left top no-repeat; font-family:Arial; font-weight:100; position:relative; left:4px; top:2px;}
.sideNav .list{display:none; border-bottom:#e2e2e2 solid 1px; padding:5px 0; background:#f7f7f7;}
.sideNav li li a{height:26px; line-height:26px; overflow:hidden; padding-left:54px; border:0px;}
.sideNav li li a:hover, .sideNav li li .aNow{background:url(../image/lico3.png) 37px center no-repeat;}

.pageNum{text-align:center; padding:25px 0 0 0; height:50px; overflow:hidden; color:#666;}
.pageNum a{color:#666; padding:0 5px;}
.pageNum input{width:32px; height:15px; line-height:15px; text-align:center; border:#cacaca solid 1px; margin:0 5px;}
/**/
.pageNum1{padding:10px 0 0 0; height:60px; text-align:center; line-height:25px; overflow:hidden;}
.pageNum1 a{height:23px; line-height:23px; padding:0 8px; margin-right:1px; display:inline-block; border:#d0d0d0 solid 1px; color:#ec0101;}
.pageNum1 .a1{margin-right:10px;}
.pageNum1 .a1 span{background:url(../image/nimg6_1.png) center no-repeat; width:6px; height:11px; display:inline-block; position:relative; top:6px; color:#fff;}
.pageNum1 .a2{width:59px; margin:0 14px 0 1px;}
.pageNum1 .a2 span{background:url(../image/nimg6_2.png) right center no-repeat; padding-right:16px;}
.pageNum1 i{padding:0 9px; color:#ec0101;}
.pageNum1 b{font-weight:100; padding:0 8px;}
.pageNum1 .input1{width:39px; height:25px; line-height:25px; text-align:center; border:#d0d0d0 solid 1px; margin:0px;}
.pageNum1 .btn1{width:41px; height:25px; background:url(../image/lbtn17.png) left top no-repeat; cursor:pointer;}
.pageNum1 a:hover, .pageNum1 .aNow{background:#e90000; border:#e90000 solid 1px; color:#fff;}
.pageNum1 .a2:hover span{background:url(../image/limg6_1.png) right center no-repeat;}
.pageNum1 .a1:hover span{background:url(../image/limg6.png) right center no-repeat; color:#e90000;}
.pageNum1 .prev, .pageNum1 .next{padding:0px;}
.pageNum1 .prev span{background:url(../image/prev.gif) left center no-repeat; padding:0 8px 0 22px;}
.pageNum1 .prev:hover span{background:url(../image/prevHover.gif) left center no-repeat;}
.pageNum1 .prev em{display:inline-block; height:23px; width:23px; background:url(../image/prev2.gif) center no-repeat; text-align:left; color:#FFF;}
.pageNum1 .prev:hover em{background:url(../image/prevHover.gif) center no-repeat; color:#e90000;}
.pageNum1 .next span{background:url(../image/next.gif) right center no-repeat; padding:0 22px 0 8px;}
.pageNum1 .next:hover span{background:url(../image/nextHover.gif) right center no-repeat;}
.pageNum1 .next em{display:inline-block; height:23px; width:23px; background:url(../image/next2.gif) center no-repeat; text-align:left; color:#FFF;}
.pageNum1 .next:hover em{background:url(../image/nextHover.gif) center no-repeat; color:#e90000;}
/**/
.pageNum2 a{color:#0064cc;}
.pageNum2 .a2 span{background:url(../image/limg6_2.png) right center no-repeat;}
.pageNum2 i{padding:0 9px; color:#0064cc;}
.pageNum2 a:hover, .pageNum2 .aNow{background:#1a75d0; border:#0955ad solid 1px; color:#fff;}
.pageNum2 .a2:hover span{background:url(../image/limg6_1.png) right center no-repeat;}
.pageNum2 .a1:hover span{background:url(../image/limg6.png) right center no-repeat; color:#1a75d0;}

.pageNum3{padding:18px 14px 0 0; height:69px; overflow:hidden; text-align:right;}
.pageNum3 a{display:inline-block; margin:0 3px; padding:0 10px; height:24px; line-height:24px; border:#d5d5d5 solid 1px;}
.pageNum3 span{background:url(../image/limg5_1.gif) left center no-repeat; padding-left:10px;}
.pageNum3 .span1{background:url(../image/limg5_2.gif) right center no-repeat; padding-right:8px;}
.pageNum3 a:hover, .pageNum3 .aNow{border:#fb8b36 solid 1px; background:#fdefe5; color:#fb8b51; font-weight:bold;}

.pageNow{height:27px; line-height:27px; overflow:hidden; text-align:right;}
.pageNow em{background:url(../image/pageNowIco1.gif) left center no-repeat; padding-left:11px;}
.pageNow a{background:url(../image/pageNowIco2.gif) right center no-repeat; padding:0 13px 0 6px; position:relative; left:-6px;}
.pageNow2{text-align:left;}
.pageNow2 span{color:#e80000;}

.pageMore{display:block; height:31px; line-height:31px; text-align:center; overflow:hidden; background:#f2f2f2 url(../image/pageMore.gif) top repeat-x;}

.myCourse{height:62px; overflow:hidden; background:#fff; border-bottom:#dbdbdb solid 1px; padding:18px 0 0 15px;}
.myCourse li{float:left; line-height:42px; overflow:hidden; padding-right:5px;}
.myCourse .input1{width:115px; height:42px; line-height:42px; padding:0 10px; border:0px; background:url(../image/linput1.png) left top no-repeat; float:left;}
.myCourse .input2{width:142px; background:url(../image/linput2.png) left top no-repeat;}
.myCourse .input3{width:285px; background:url(../image/linput3.png) left top no-repeat;}
.myCourse .input4{width:301px; background:url(../image/linput4.png) left top no-repeat;}
.myCourse .selectDiv{float:left; background:url(../image/selectBg.gif) left top no-repeat; width:171px; height:42px; line-height:42px; overflow:hidden;}
.myCourse span{padding:0 5px;}
.myCourse .btn1{width:76px; height:42px; color:#fff; background:url(../image/lbtn6.png) left top no-repeat; font-size:14px; font-weight:bold; cursor:pointer;}


.orderLayer{position:absolute; z-index:100; left:50%; top:50%;}
.orderLayer .bg{padding:20px 25px;}
.orderLayer h5{height:40px; line-height:40px; overflow:hidden; position:relative; background:url(../image/line1.gif) bottom repeat-x; text-align:left;}
.orderLayer .close{display:block; background:url(../image/close.gif) left top no-repeat; width:66px; height:17px; overflow:hidden; position:absolute; top:10px; right:0px;}
/**/
.orderLayer1{background:url(../image/orderLayer1.png) left top no-repeat; width:402px; height:280px; overflow:hidden; text-align:center; display:none;}
.orderLayer1 .content{font-size:14px; line-height:22px; padding:10px 0 15px 0;}
.orderLayer1 a{display:inline-block; width:100px; height:32px; line-height:32px; text-align:center; background:url(../image/btn1.gif) left top no-repeat; color:#fff; font-size:14px;}
.orderLayer1 .msg{padding-top:10px; color:#e60012;}
/**/
.orderLayer2{background:url(../image/orderLayer2.png) left top no-repeat; width:515px; height:355px; overflow:hidden; display:none;}
.orderLayer2 dl{height:95px; overflow:hidden; background:url(../image/line1.gif) bottom repeat-x; position:relative;}
.orderLayer2 dt{position:absolute; left:0px; top:15px;}
.orderLayer2 dd{padding-left:77px;}
.orderLayer2 .name{padding:16px 0 8px 0; color:#999;}
.orderLayer2 .list{width:460px; height:132px; overflow:hidden;}
.orderLayer2 ul{width:200%;}
.orderLayer2 li{float:left; width:159px; padding-top:17px; overflow:hidden;}
.orderLayer2 .btnDiv{text-align:center;}
.orderLayer2 .btnDiv a{display:inline-block; width:140px; height:32px; line-height:32px; color:#fff; text-align:center; background:url(../image/lbtn3.png) left top no-repeat; font-size:14px;}
/**/
.orderLayer3{background:url(../image/orderLayer3.png) left top no-repeat; width:563px; height:415px; display:none;}
.orderLayer3 .list{padding-top:10px;}
.orderLayer3 li{height:34px; line-height:34px; overflow:hidden; position:relative; padding-left:112px;}
.orderLayer3 em{position:absolute; left:0px; top:0px; width:102px; text-align:right; display:block;}
.orderLayer3 img{float:left; position:relative; top:8px;}
.orderLayer3 span{position:absolute; left:260px; top:0px;}
.orderLayer3 .radio{position:relative; top:2px; left:-2px;}
.orderLayer3 .li_01{height:95px; padding-top:5px;}
.orderLayer3 textarea{width:385px; height:70px; padding:5px; font-size:12px; border:#e1e1e1 solid 1px;}
.orderLayer3 .btn1{width:90px; height:32px; border:0px; color:#fff; cursor:pointer; background:url(../image/lbtn.png) left top no-repeat; float:left; font-size:14px; margin-right:5px;}
.orderLayer3 .btn2{background:url(../image/lbtn2.png) left top no-repeat;}
/**/
.orderLayer4{background:url(../image/orderLayer4.png) left top no-repeat; width:613px; height:245px; overflow:hidden; display:none;}
.orderLayer4 .form{padding:16px 0 0 61px; height:98px; position:relative;}
.orderLayer4 .form em{position:absolute; left:0px; top:20px;}
.orderLayer4 textarea{width:491px; height:82px; padding:0px; font-size:12px; border:#e1e1e1 solid 1px;}
.orderLayer4 .btnDiv{text-align:center;}
.orderLayer4 .btn1{width:90px; height:32px; border:0px; color:#fff; cursor:pointer; background:url(../image/lbtn.png) left top no-repeat;}

.courseLayer1{background:url(../image/courseLayer1.png) left top no-repeat; width:171px; height:269px; overflow:hidden; position:absolute; z-index:100; left:-150%; top:50%; color:#6a6a6a;}
.courseLayer1 h5{padding:17px 0 0 24px; height:25px; overflow:hidden;}
.courseLayer1 .list{padding:0 8px 0 25px;}
.courseLayer1 li{height:36px; line-height:36px; width:115px; overflow:hidden; background:url(../image/lline1.gif) left bottom repeat-x;}
.courseLayer1 .Vertical_scroll{height:210px; overflow:hidden; position:relative;}

.ComplaintLayer, .ComplaintLayer2, .trainLayer{width:613px; overflow:hidden; display:none;}
.ComplaintLayer .bgT, .ComplaintLayer2 .bgT, .trainLayer .bgT{background:url(../image/orderLayerT.png); height:16px;}
.ComplaintLayer .bgB, .ComplaintLayer2 .bgB, .trainLayer .bgB{background:url(../image/orderLayerB.png); height:9px;}
.ComplaintLayer .bg, .ComplaintLayer2 .bg, .trainLayer .bg{background:url(../image/orderLayerBg.png) left repeat-y; min-height:20px; _height:20px; padding:4px 25px 11px 25px;}
.ComplaintLayer .content{padding:15px 0; line-height:20px;}

.ComplaintLayer2 .list{padding-top:12px;}
.ComplaintLayer2 li{padding-left:63px; height:35px; line-height:26px; overflow:hidden; position:relative;}
.ComplaintLayer2 li em{position:absolute; left:0px; top:0px; width:60px; text-align:right; overflow:hidden; display:block;}
.ComplaintLayer2 .input1{width:195px; padding:0 5px; height:24px; line-height:24px; border:#e4e3e3 solid 1px; float:left; margin-right:10px;}
.ComplaintLayer2 .li_01{height:85px;}
.ComplaintLayer2 .btn{float:left; position:relative; top:2px;}
.ComplaintLayer2 li textarea{width:491px; height:72px; padding:0px; font-size:12px; border:#e4e3e3 solid 1px;}
.ComplaintLayer2 .btn1{width:90px; height:32px; color:#fff; cursor:pointer; background:url(../image/lbtn.png) left top no-repeat;}

.trainLayer .form{padding-top:11px;}
.trainLayer .form textarea{width:553px; height:72px; border:#e4e3e3 solid 1px;}
.trainLayer .form .inputDiv{padding:10px 0 12px 0; height:25px; line-height:25px; overflow:hidden; background:url(../image/lline1.gif) left bottom repeat-x; margin-bottom:9px;}
.trainLayer .form span{float:left; padding-right:4px;}
.trainLayer .form .input1{width:235px; padding:0 5px; height:23px; line-height:23px; border:#e4e3e3 solid 1px;}
.trainLayer .form .btnDiv{text-align:center;}
.trainLayer .form .btn2{width:63px; height:25px; border:0px; background:url(../image/lbtn7.png) left top no-repeat; cursor:pointer; margin:0 4px;}
.trainLayer .btnDiv{text-align:center;}
.trainLayer .btnDiv input{width:90px; height:32px; color:#fff; cursor:pointer; background:url(../image/lbtn.png) left top no-repeat;}

.pageForm{padding:35px 0;}
.pageForm li{min-height:49px; _height:49px; line-height:26px; overflow:hidden; position:relative; padding-left:126px; clear:both;}
.pageForm em{display:block; width:110px; text-align:right; position:absolute; z-index:1; top:0px; left:0px; font-size:14px;}
.pageForm .input1{height:28px; padding-left:10px; width:500px; overflow:hidden; background:url(../image/lbg7.gif) left top no-repeat; float:left; margin-right:10px;}
.pageForm .input1 input{width:100%; height:28px; line-height:28px; color:#999; background:url(../image/lbg7.gif) right bottom no-repeat;}
.pageForm .input2{width:362px;}
.pageForm .btn2{float:left; background:url(../image/btn7.gif); width:115px; height:28px;}
.pageForm .btn1{width:148px; height:41px; border:0px; color:#fff; cursor:pointer; background:url(../image/btn8.gif) left top no-repeat; font-size:14px;}
.pageForm .radio{position:relative; left:-2px; top:2px;}
.pageForm select{padding:3px; border:#CCC solid 1px; margin-right:10px; color:#666;}
.pageForm .tips{color:#999;}
.pageForm .contentDiv{height:145px; width:500px; line-height:20px; padding:5px 10px; border:#CCC solid 1px; overflow:hidden; overflow-y:auto; margin-bottom:20px;}
.pageForm .li_01{height:255px;}
.pageForm .li_01 textarea{width:564px; height:213px; font-size:12px; padding:10px; background:url(../image/ltext.png) left top no-repeat; border:0px;}

.Orders{padding:0 4px 10px 4px; background:#fff url(../image/lbg3.gif) left top repeat-x;}
.Orders th{height:49px; border-right:#fff solid 1px; color:#6a6a6a;}
.Orders .th_01{border-right:0px;}
.Orders th select{border:#dbdbdb solid 1px; padding:2px;}
.Orders th .selectDiv{width:80px; margin:0 auto; background:url(../image/lico.png) right center no-repeat; text-align:left;}
.Orders td{height:36px; text-align:center; border-bottom:#dbdbdb solid 1px; color:#6a6a6a;}
.Orders td a{color:#2471c9; padding:0 6px;}
.Orders td .name_1{text-align:left; padding-left:30px;}

.pageInput{background:url(../image/pageInput.gif) left top no-repeat; height:42px; overflow:hidden; padding-left:10px;}
.pageInput input{width:100%; height:42px; line-height:42px; background:url(../image/pageInput.gif) right bottom no-repeat;}

.rightLayer{position:fixed; z-index:50; right:10px; bottom:265px; _position:absolute;  _top:expression(documentElement.scrollTop+document.documentElement.clientHeight-455); width:162px; overflow:hidden;}
.rightLayer a{outline:none;}
.rightLayer li{width:147px; height:44px; overflow:hidden; position:relative; padding-right:15px;}
.rightLayer li .btn{position:absolute; z-index:10; top:0px; right:0px;}
.rightLayer li .name{background:url(../image/rightBg.png) left top no-repeat; height:36px; line-height:34px; overflow:hidden; width:0px; overflow:hidden; float:right; color:#999;}
.rightLayer li .name div{text-align:right;}

.topA{position:fixed; z-index:50; right:10px; bottom:230px; _position:absolute;  _top:expression(documentElement.scrollTop+document.documentElement.clientHeight-263); overflow:hidden; display:block; background:url(../image/topA.gif); width:36px; height:33px; overflow:hidden; display:none;}
.topA:hover{background:url(../image/topA2.gif); outline:none;}

.pageLayer{position:absolute; z-index:100; left:50%; top:50%; width:613px; overflow:hidden; display:none;}
.pageLayer h5{height:40px; line-height:40px; overflow:hidden; position:relative; background:url(../image/line1.gif) bottom repeat-x; text-align:left;}
.pageLayer .close{display:block; background:url(../image/close.gif) left top no-repeat; width:66px; height:17px; overflow:hidden; position:absolute; top:10px; right:0px;}
.pageLayer .bgT{background:url(../image/orderLayerT.png); height:16px;}
.pageLayer .bgB{background:url(../image/orderLayerB.png); height:9px;}
.pageLayer .bg{background:url(../image/orderLayerBg.png) left repeat-y; min-height:20px; _height:20px; padding:4px 25px 11px 25px;}
.pageLayer .btnDiv{text-align:center; background:url(../image/line1.gif) top repeat-x; padding-top:21px; height:40px; overflow:hidden;}
.pageLayer .btnDiv input{width:90px; height:32px; border:0px; color:#fff; cursor:pointer; background:url(../image/lbtn.png) left top no-repeat;}
/**/
.pageLayer .form{padding-top:10px;}
.pageLayer .form li{height:36px; line-height:25px; overflow:hidden; position:relative; padding-left:62px;}
.pageLayer .form em{position:absolute; left:0px; top:0px; display:block; width:60px; text-align:right;}
.pageLayer .form select{width:345px; border:#e4e3e3 solid 1px; padding:2px; color:#666;}
.pageLayer .form .select1{width:100px;}
.pageLayer .form .select2{width:60px;}
.pageLayer .form .input1{float:left; width:325px; height:23px; line-height:23px; padding:0 10px; border:#e4e3e3 solid 1px; margin-right:3px;}
.pageLayer .form .btn2{float:left; margin-right:3px; background:url(../image/btn3.gif) top repeat-x; width:61px; height:25px; border:#e4e3e3 solid 1px;}
.pageLayer .form .li_02{padding:25px 0 0 0; height:130px;}
.pageLayer .form .li_02 .btn2{width:100px;}
.pageLayer .form textarea{border:#e4e3e3 solid 1px; padding:5px 10px; font-size:12px; height:62px; width:530px; margin-bottom:5px;}
/**/
.pageLayer .form2 .msg{padding:15px 0;}
.pageLayer .form2 li{min-height:32px; _height:32px; position:relative; padding:0 0 10px 135px;}
.pageLayer .form2 em{position:absolute; left:0px; top:0px; white-space:nowrap;}
.pageLayer .form2 textarea{width:412px; height:110px; border:#e1e1e1 solid 1px; padding:5px; font-size:12px;}
.pageLayer .form2 .btn1{width:90px; height:32px; border:0px; color:#fff; cursor:pointer; background:url(../image/lbtn.png) left top no-repeat; margin-right:10px;}
.pageLayer .form2 .btn2{background:url(../image/lbtn2.png) left top no-repeat;}
/**/
.pageLayer .content{line-height:18px; text-align:justify; padding:10px 0;}
/**/
.pageLayer .table th{padding-bottom:12px; border-bottom:#ccc dashed 1px;}
.pageLayer .table td{height:26px; text-align:center; padding-top:10px;}
/**/
.pageLayer .list{padding-top:11px;}
.pageLayer .list li{min-height:107px; _height:107px; padding:0 0 17px 91px; position:relative;}
.pageLayer .list .imgDiv{position:absolute; left:0px; top:10px; text-align:center; color:#125090; font-size:14px; font-weight:bold;}
.pageLayer .list .imgDiv div{padding-bottom:6px;}
.pageLayer .list i{display:block; background:url(../image/ico8.gif) left top no-repeat; width:13px; height:26px; overflow:hidden; position:absolute; left:79px; top:21px;}
.pageLayer .list .contentDiv{min-height:105px; height:105px; border:#d3d3d3 solid 1px; padding:0 15px;}
.pageLayer .list .time{padding:0 11px; height:30px; line-height:30px; overflow:hidden; border-bottom:#d3d3d3 solid 1px; color:#e60012; position:relative;}
.pageLayer .list .time span{color:#999; position:absolute; top:0px; right:0px; white-space:nowrap;}
.pageLayer .list .content{padding:10px; text-align:left;}
/**/
.pageLayer2{width:771px;}
.pageLayer2 .bgT{background:url(../image/pageLayerT.png); height:18px;}
.pageLayer2 .bgT_1{background:url(../image/pageLayerT_1.png); height:18px;}
.pageLayer2 .bgB{background:url(../image/pageLayerB.png); height:12px;}
.pageLayer2 .bg{background:url(../image/pageLayerBg.png) left repeat-y;}

.dateLayer11{position:absolute; z-index:100; width:200px; overflow:hidden; background:#FFF; border:#dbdbdb solid 1px; padding:5px 10px; display:none;}
.dateLayer11 h5{height:36px; line-height:36px; overflow:hidden; border-bottom:#ddd dashed 1px;}
.dateLayer11 .list{padding-top:15px;}
.dateLayer11 li{float:left; width:100px; height:32px; overflow:hidden; line-height:18px;}
.dateLayer11 li em{display:block; float:left; width:23px; text-align:center;}
.dateLayer11 li div{float:left; background:url(../image/bg2.gif) left top no-repeat; width:65px; height:18px; overflow:hidden;}
.dateLayer11 li span, .dateLayer11 li i{display:block; float:left; width:31px; height:16px; overflow:hidden; position:relative; top:1px; margin-left:1px;}
.dateLayer11 li span{cursor:pointer; background:#ffffff;}
.dateLayer11 li .spanNow{background:#e60012;}
.dateLayer11 li .spanDisable{background:#e9e9e9;}

#Layer1{
	position:absolute;
	position:fixed;
	_position:absolute;
	width:100%;
	z-index:99;
	top:0; left:0px;
	background-color:#000;
	display:none;
}

.sideBar{position:fixed; z-index:10; bottom:150px; left:50%; margin-left:510px; background:url(../image/sideBar.gif) left top no-repeat; width:54px; height:123px; overflow:hidden;}
.sideBar li{height:42px; overflow:hidden;}
.sideBar a{display:block; height:39px; overflow:hidden;}

.pageTimeLayer{background:url(../image/timeLayer1.png) left top no-repeat; width:267px; height:240px; overflow:hidden; position:absolute; z-index:100; top:50%; left:-150%;}
.pageTimeLayerBg{position:fixed; z-index:99; left:0px; top:0px; width:100%; height:100%; background:url(../image/bg.gif); display:none;}


.memberLayer10{position:absolute; z-index:200; left:50%; top:50%; background:url(../image/memberLayer.png) left bottom no-repeat; width:654px; height:330px; padding:40px 22px 0 22px; overflow:hidden; display:none;}
.memberLayer10 .form{height:35px; padding-left:10px; overflow:hidden; background:#efefef; border:#e7e7e7 solid 1px;}
.memberLayer10 .form li{float:left; font-size:14px; line-height:35px; padding:0 2px;}
.memberLayer10 .form .input1{float:left; background:url(../image/input6.gif) left top no-repeat; width:107px; height:28px; line-height:28px; padding:0 5px; margin-right:5px; position:relative; top:4px;}
.memberLayer10 .form .input2{background:url(../image/input7.gif) left top no-repeat; width:130px;}
.memberLayer10 .form .btn1{background:url(../image/btn16.gif); width:84px; height:28px; cursor:pointer; float:left; position:relative; top:4px;}
.memberLayer10 .table{background:url(../image/bg5.gif) left 12px no-repeat; padding-top:12px;}
.memberLayer10 .table th{height:35px; border-right:#FFF solid 1px; font-weight:100; color:#666;}
.memberLayer10 .table td{height:36px; text-align:center; border-bottom:#ccc dashed 1px; color:#333;}
.memberLayer10 .btnDiv{text-align:center; padding-top:15px;}
.memberLayer10 .btnDiv a{padding:0 10px;}

.starspan {
	width:100px;
	margin:0px;
	padding:0px;
}
.starspan img{
	margin:0px;
	padding:0px;

	width:20px;
}