body{background:#FFF;}

.storePart1{height:100px; overflow:hidden; position:relative; padding:35px 0 0 85px; color:#000;}
.storePart1 .logo{position:absolute; left:10px; top:35px;}
.storePart1 .title{padding:5px 0 10px 0; font-size:26px;}
.storePart1 .title a{color:#000;}
.storePart1 .title img{margin-left:12px;}
.storePart1 .msg{font-size:13px;}
.storePart1 .msg img{margin-right:6px; position:relative; top:2px;}
.storePart1 .msg a{color:#000;}
.storePart1 .mark{position:absolute; z-index:1; top:55px; right:130px; width:95px; text-align:center; overflow:hidden;}
.storePart1 .mark div{padding-top:4px; font-size:14px;}

.storePart2{height:315px; overflow:hidden; position:relative;}
.storePart2 li{position:absolute; z-index:1; left:0px; top:0px; display:none;}
.storePart2 .btnDiv{position:absolute; z-index:10; right:25px; bottom:30px;}
.storePart2 span{display:block; width:24px; height:14px; overflow:hidden; background:url(../image/limg14_1.png) left top no-repeat; float:left;}
.storePart2 .spanNow{background:url(../image/limg14_2.png) left top no-repeat;}

.storeTab{height:38px; border-left:#e6e6e6 solid 1px; overflow:hidden; background:url(../image/ltabBg.gif) left bottom repeat-x;}
.storeTab li{height:36px; line-height:36px; width:100px; text-align:center; overflow:hidden; border:#e6e6e6 solid 1px; float:left; border-bottom:0px; border-left:0px; font-size:14px; font-weight:bold; color:#1d0703;}
.storeTab .liNow{border-top:#666 solid 2px; background:#fff;}

.storePart3{padding:20px 25px; text-align:justify; line-height:18px; color:#717171; border:#e6e6e6 solid 1px; border-top:0px;}

.storePart4{border:#e3e3e3 solid 1px; padding:10px 0 0 5px;}
.storePart4 li{float:left; padding:0 0 4px 5px;}

.storePart5{border:#e3e3e3 solid 1px; min-height:100px; _height:100px;}
.storePart5 h2{height:45px; line-height:44px; overflow:hidden; padding-left:20px; color:#2f2f2f; position:relative;}
.storePart5 h2 .more{position:absolute; top:0px; right:16px; font-size:13px; font-weight:100;}
.storePart5 td{height:110px; overflow:hidden; font-size:13px; font-weight:bold; border-top:#ddd dashed 1px;}
.storePart5 .imgDiv{padding-left:20px;}
.storePart5 .name{line-height:18px; width:110px;}
.storePart5 b{font-size:14px; color:#ec0101; padding-right:6px;}
.storePart5 .inputDiv{background:url(../image/input3.gif) left top no-repeat; width:62px; height:18px; overflow:hidden;}
.storePart5 .inputDiv a{float:left; display:block; width:17px; height:18px;}
.storePart5 .inputDiv input{float:left; width:28px; height:18px; line-height:18px; text-align:center;}
.storePart5 .selectDiv{width:92px; height:28px; line-height:28px; overflow:hidden; float:left; overflow:hidden; background:url(../image/lselect5.png) left top no-repeat;}
.storePart5 .btn{width:65px; height:29px; line-height:29px; text-align:center; background:url(../image/lbtn15.png) left top no-repeat; color:#fff; font-size:14px; display:block;}

.storePart6{border:#e3e3e3 solid 1px; min-height:100px; _height:100px;}
.storePart6 h2{height:55px; line-height:45px; overflow:hidden; padding-left:20px; color:#2f2f2f;}
.storePart6 .list{float:left; width:158px; overflow:hidden; padding:0 0 0 20px;}
.storePart6 li{height:32px; overflow:hidden;}
.storePart6 img{float:left; margin-right:6px;}

.storePart7{border:#e3e3e3 solid 1px; min-height:100px; _height:100px; padding:0 15px;}
.storePart7 h1{padding:15px 0 10px 0; font-size:18px;}
.storePart7 .contentDiv{height:145px; overflow:hidden; background:#f7f7f7; border:#ededed solid 1px; position:relative; margin-bottom:10px;}
.storePart7 .title{padding:10px 20px; color:#589442;}
.storePart7 .title b{font-size:30px;}
.storePart7 .title img{margin-left:20px; position:relative; top:4px;}
.storePart7 .btn{position:absolute; z-index:1; right:20px; top:15px; width:109px; height:33px; line-height:33px; padding-left:20px; color:#fff; background:url(../image/lbtn16.png) left top no-repeat; font-size:16px; font-weight:bold;}
.storePart7 .div0{padding-top:10px; margin:0 20px; border-top:#CCC dashed 1px; color:#589442;}
.storePart7 .div0 li{height:20px; line-height:20px; overflow:hidden;}
.storePart7 .div0 em{width:75px; overflow:hidden; display:block; float:left;}
.storePart7 .div0 img{float:left; position:relative; top:5px;}
.storePart7 .msg{position:absolute; z-index:1; left:220px; top:75px; line-height:18px;}
.storePart7 .msg b{padding-right:12px;}
.storePart7 .msg span{display:inline-block; height:18px; padding:0 5px; background:#9282d8; color:#fff; margin-right:2px;}
.storePart7 .msg .span1{background:#f5ad70;}
.storePart7 .msg .span2{background:#4c94db;}
.storePart7 .msg .span3{background:#db94ff;}
.storePart7 .msg .span4{background:#fd6a5e;}
/**/
.storePart7 .list{border-top:#e6e6e6 solid 1px;}
.storePart7 .list li{padding:15px 0; border-bottom:#ddd dashed 1px;}
.storePart7 .list h5{height:20px; line-height:20px; overflow:hidden;}
.storePart7 .list h5 img{float:left; margin-right:10px;}
.storePart7 .list .time{padding:8px 0;}
.storePart7 .list .time span{padding-left:10px;}
.storePart7 .list .content{line-height:18px;}

.storePart_01{border:#d1d1d1 solid 1px; background:url(../image/lbg14.gif) left top repeat-x; height:303px; overflow:hidden; text-align:center;}
.storePart_01 h2{padding:15px 0 10px 0; color:#000;}
.storePart_01 .content{padding:6px 29px 10px 29px; line-height:16px; font-size:13px;}
.storePart_01 .price{font-size:13px; color:#ee0303; font-weight:bold; padding-bottom:13px;}
.storePart_01 .btn{width:127px; height:38px; line-height:38px; text-align:center; color:#fff; display:block; margin:0 auto; background:url(../image/lbtn18.png) left top no-repeat; font-size:18px; font-weight:bold;}

.storePart_02{border:#d1d1d1 solid 1px; _height:100px; min-height:100px;}
.storePart_02 h2{height:45px; line-height:45px; overflow:hidden; padding-left:20px; color:#2f2f2f; position:relative;}
.storePart_02 h2 .more{position:absolute; z-index:1; top:0px; right:16px; font-size:12px; font-weight:100;}
.storePart_02 li{text-align:center; height:242px; width:216px; overflow:hidden; margin:0 auto;}
.storePart_02 .name{padding:10px 0 5px 0; font-size:14px; font-weight:bold;}
.storePart_02 .content{text-align:left; line-height:18px;}

.storeImg{border:#d1d1d1 solid 1px;}

.storePart_03{height:100px; border:#d1d1d1 solid 1px; overflow:hidden; text-align:center;}
.storePart_03 h2{padding:15px 0 20px 0; color:#000;}
.storePart_03 .content{font-size:13px; color:#0a0a0a; font-weight:bold;}
.storePart_03 .content span{padding-left:10px; color:#ff7200;}

.storePart_04{height:240px; border:#e3e3e3 solid 1px; overflow:hidden;}
.storePart_04 h2{height:50px; line-height:50px; overflow:hidden; text-align:center; color:#000;}
.storePart_04 li{float:left; height:135px; padding-left:22px; width:100px; text-align:center; overflow:hidden; font-size:13px; font-weight:bold;}
.storePart_04 .msg{padding:0 23px; line-height:18px; font-size:13px;}

.storeLayer{width:960px; height:530px; overflow:hidden; border:#e3e3e3 solid 5px; position:absolute; z-index:1000; top:100px; left:100px; background:#FFF; display:none;}
.storeLayer .fl{background:#3a3b3e; width:680px; height:530px; overflow:hidden; position:relative;}
.storeLayer .leftBtn{position:absolute; left:18px; top:230px; display:block; background:url(../image/nimg24_1.png) left top no-repeat; width:24px; height:40px; overflow:hidden;}
.storeLayer .rightBtn{position:absolute; right:18px; top:230px; display:block; background:url(../image/nimg24_2.png) left top no-repeat; width:24px; height:40px; overflow:hidden;}
.storeLayer .list{padding-top:35px; width:562px; position:relative; overflow:hidden; margin:0 auto;}
.storeLayer .list ul{width:2000%;}
.storeLayer .list li{width:562px; float:left; overflow:hidden;}
.storeLayer .list .imgDiv{border:#a2a3a4 solid 1px;}
.storeLayer .list h2{padding:7px 0 5px 0; text-align:center;}
.storeLayer .list h2 a{color:#fff;}
.storeLayer .list .content{line-height:16px; font-size:13px; color:#fff;}
.storeLayer .fr{width:280px;}
.storeLayer .fr h2{color:#000; padding:10px 0 5px 0; text-align:center;}
.storeLayer .fr .msg{position:relative; padding:0 0 20px 56px; width:196px; overflow:hidden; color:#000; line-height:18px;}
.storeLayer .fr .msg b{position:absolute; left:0px; top:0px; width:47px; text-align:right; overflow:hidden; display:block;}
.storeLayer .storeTab1{height:45px; overflow:hidden; background:url(../image/lsBg.gif) left top repeat-x; padding:0 5px 0 15px;}
.storeLayer .storeTab1 .bg{padding-top:17px; height:28px; overflow:hidden; background:url(../image/lline3.gif) left bottom repeat-x;}
.storeLayer .storeTab1 li{float:left; width:85px; text-align:center; height:28px; line-height:28px; overflow:hidden; font-size:13px; color:#000; font-weight:bold;}
.storeLayer .storeTab1 .liNow{border:#ddd solid 1px; border-top:#c96702 solid 1px; border-bottom:0px; width:83px; height:27px; overflow:hidden; background:#fff;}
/**/
.storeList{padding:20px 0 0 19px; height:330px; width:257px; overflow:hidden; overflow-y:scroll;}
.storeList ul{width:130%;}
.storeList li{float:left; width:72px; height:72px; text-align:center; padding:2px; margin:0 6px 5px 0; overflow:hidden;}
.storeList li img{width:70px; height:70px;}
.storeList li:hover img{border:#757575 solid 1px; padding:1px; width:66px; height:66px;}

.storeBox{border:#e8e8e8 solid 1px; border-top:#666 solid 2px; min-height:100px; _height:100px; padding:0 20px;}

.sCoach{width:682px; overflow:hidden; position:relative;}
.sCoach .title{height:60px; line-height:60px; overflow:hidden; color:#000;}
.sCoach ul{width:110%;}
.sCoach li{float:left; width:216px; height:260px; overflow:hidden; padding-right:17px;}
.sCoach li h2{padding:10px 0 5px 0; text-align:center;}
.sCoach .content{line-height:18px; font-size:13px;}

.sCoachList{padding:15px 35px;}
.sCoachList h1{height:40px; color:#000; font-size:18px;}
.sCoachList li{height:205px; overflow:hidden; color:#aaa;}
.sCoachList h2{height:30px; line-height:30px; overflow:hidden;}
.sCoachList h2 a{color:#000;}
.sCoachList .price{font-weight:bold; color:#d2000a;}

.sCoachShow{padding:10px 0; min-height:1175px; _height:1175px;}
.sCoachShow h1{text-align:center; padding:15px 0;}
.sCoachShow .imgDiv{text-align:center;}
.sCoachShow .content{padding:30px 0; line-height:24px; color:#2f2f2f; text-align:justify;}

.pageStep{height:75px; background:#fff; border-bottom:#dbdbdb solid 1px; padding-top:30px; text-align:center;}

.shopCartTitle{height:53px; line-height:53px; overflow:hidden; padding-left:20px;}
/**/
.shopCart{border:#dbdbdb solid 1px; border-top:#232322 solid 5px; color:#6b6b6b; min-height:100px; _height:100px; background:#fff;}
.shopCart th{height:37px; overflow:hidden; background:#efefef; border-right:#fff solid 1px; border-bottom:#dbdbdb solid 1px; font-size:14px;}
.shopCart .th_01{border-right:0px;}
.shopCart td{text-align:center; height:35px; padding-bottom:30px; border-bottom:#efefef solid 1px; overflow:hidden;}
.shopCart .inputDiv{background:url(../image/input3.gif) left top no-repeat; width:62px; height:18px; overflow:hidden; margin:0 auto;}
.shopCart .inputDiv a{float:left; display:block; width:17px; height:18px;}
.shopCart .inputDiv input{float:left; width:28px; height:18px; line-height:18px; text-align:center;}
.shopCart .msg{padding:8px 35px; border-top:#c3c3c3 dotted 1px; border-bottom:#c3c3c3 dotted 1px; background:#efefef;}
.shopCart .msg input{position:relative; top:2px; left:-4px;}
.shopCart .msg a{padding-left:20px;}
.shopCart .msg1{padding:50px 0 10px 35px;}
.shopCart .msg1 input{position:relative; top:2px; left:-4px;}
.shopCart .price{padding:10px 0 12px 825px; border-top:#c3c3c3 dotted 1px; border-bottom:#c3c3c3 dotted 1px; background:#efefef;}
.shopCart .price li{padding:3px 0;}
.shopCart .price b{font-size:22px; color:#e60012; position:relative; top:3px;}

.shopCart1 td{height:49px; padding-bottom:0px;}
.shopCart1 .msg{text-align:right; padding-right:40px;}

.shopCart_01{padding:0 15px; margin:15px; border:#e0e0e0 solid 3px;}
.shopCart_01 .title{color:#000; height:46px; line-height:46px; overflow:hidden;}
.shopCart_01 .name{height:30px; overflow:hidden; padding-left:25px;}
.shopCart_01 .name img{position:relative; top:2px; margin-left:4px;}
.shopCart_01 .name1{height:33px; line-height:33px; overflow:hidden; padding-left:25px; background:#f6f5f3;}
.shopCart_01 .radio{position:relative; left:-2px; top:2px;}
.shopCart_01 li{padding-left:133px; height:27px; line-height:27px; overflow:hidden;}
.shopCart_01 .input2{width:196px; padding:0 5px; height:24px; line-height:24px; border:#ccc solid 1px;}
.shopCart_01 .content{padding-left:70px; height:30px; overflow:hidden;}
.shopCart_01 .notice{color:#e60012; padding-left:25px; height:33px; overflow:hidden;}
.shopCart_01 .btnDiv{padding-left:25px; height:47px; overflow:hidden;}
.shopCart_01 .btnDiv a{width:136px; height:29px; line-height:29px; text-align:center; color:#fff; overflow:hidden; display:block; background:url(../image/lsBtn.gif) left top no-repeat; font-size:14px; font-weight:bold;}

.shopCart_02{padding:37px 0 0 35px; height:130px; overflow:hidden; border-bottom:#c3c3c3 dotted 1px;}
.shopCart_02 h2{color:#000; height:35px; overflow:hidden;}
.shopCart_02 a{font-size:12px; color:#005ea7; padding-left:18px; font-weight:100;}
.shopCart_02 .notice{line-height:19px; color:#e65c00; padding-top:3px;}
.shopCart_02 .notice span{color:#e60012;}

.shopCart_03{padding:15px 0 0 90px; height:110px; overflow:hidden; position:relative;}
.shopCart_03 span{position:absolute; top:24px; left:20px;}
.shopCart_03 textarea{width:682px; height:77px; border:#d8d8d8 solid 1px; padding:5px 15px; font-size:12px;}
.shopCart_03 .btnDiv{position:absolute; right:18px; top:16px; width:160px; overflow:hidden;}
.shopCart_03 .btn2{display:block; height:47px; line-height:42px; background:url(../image/lsBtn1.png) left top no-repeat; color:#fff; font-size:20px; font-weight:bold; overflow:hidden; padding-left:44px;}
.shopCart_03 .btn3{background:url(../image/lsBtn2.png) left top no-repeat; font-size:14px; font-weight:100;}
.shopCart_03 .btn4{width:128px; height:72px; line-height:70px; background:url(../image/lsBtn9.png) left top no-repeat; padding-left:32px;}

.shopCartList{height:240px; overflow:hidden; position:relative;}
.shopCartList h2{width:285px; overflow:hidden; text-align:center; height:32px; line-height:32px; border:#dadada solid 1px; border-bottom:0px; background:#fff; position:relative; z-index:10;}
.shopCartList .more{position:absolute; right:13px; top:10px;}
.shopCartList .leftBtn{position:absolute; z-index:20; width:35px; height:184px; left:2px; top:34px; background:url(../image/nimg13_1_1.gif) center no-repeat; display:block;}
.shopCartList .rightBtn{position:absolute; z-index:20; width:35px; height:184px; right:2px; top:34px; background:url(../image/nimg13_2_1.gif) center no-repeat;}
.shopCartList .leftBtn:hover{background:url(../image/lleftBtn.png) left top no-repeat;}
.shopCartList .rightBtn:hover{background:url(../image/lrightBtn.png) left top no-repeat;}
.shopCartList .bg{background:#fff; position:relative; top:-1px; border:#dadada solid 1px; height:186px; overflow:hidden;}
.shopCartList .list{width:920px; padding-top:26px; overflow:hidden; margin:0 auto;}
.shopCartList ul{width:2000%;}
.shopCartList li{float:left; width:184px; text-align:center; overflow:hidden;}
.shopCartList .title{padding-top:10px; font-size:14px; font-weight:bold;}

.activeTitle{height:36px; line-height:36px; overflow:hidden; background:#efefef; border-bottom:#dbdbdb solid 1px; padding:0 20px;}
.activeTitle .fr{background:url(../image/lsico.png) left center no-repeat; padding:0 0 0 12px; color:#6b6b6b;}

.active{width:688px; overflow:hidden; margin:0 auto; padding:20px 0 5px 0; border-bottom:#e5e5e5 solid 1px;}
.active li{height:300px; overflow:hidden; position:relative;}
.active .name{position:absolute; left:0px; bottom:20px; z-index:10; height:29px; line-height:29px; overflow:hidden; background:url(../image/lsBg.png) left top repeat-x; width:688px; font-size:14px;}
.active .name a{color:#fff; padding-left:20px;}
.active .msg{position:absolute; z-index:10; left:17px; top:15px;}
.active .btn{display:block; width:96px; height:31px; line-height:31px; text-align:center; color:#fff; background:url(../image/lsBtn3.png) left top no-repeat; font-size:14px; font-weight:bold; float:left; margin-right:7px;}
.active .div0{position:absolute; top:0px; right:0px; z-index:10;} 

.activeTitle1{height:50px; line-height:50px; overflow:hidden; border-bottom:#bdbdbd solid 1px; color:#232323;}

.active_01{padding:0 17px;}
.active_01 .list{width:207px; overflow:hidden; padding:8px 0 0 0;}
.active_01 ul{width:120%;}
.active_01 li{float:left; height:32px; line-height:32px; overflow:hidden; font-weight:bold;}
.active_01 .li_01 a{font-size:17px; color:#8f8f8f; padding-right:32px;}
.active_01 .li_02 a{font-size:14px; color:#9e000c; padding-right:26px;}
.active_01 .li_03 a{color:#a36a2f; font-size:15px; padding-right:46px;}
.active_01 .li_04 a{color:#036f9f; font-size:17px; padding-right:32px;}
.active_01 .li_05 a{color:#8e8600; font-size:17px; padding-right:16px;}

.active_02{padding:0 17px;}
.active_02 .list{padding:10px 0;}
.active_02 li{padding-left:88px; height:68px; overflow:hidden; position:relative;}
.active_02 .imgDiv{position:absolute; left:5px; top:5px;}
.active_02 .num{position:absolute; z-index:10; left:0px; top:0px; background:url(../image/nimg22_6.png) left top no-repeat; width:26px; text-align:center; height:16px; line-height:12px; color:#fff; font-style:italic;}
.active_02 .name{padding:9px 0 5px 0;}

.active_03{text-align:center;}
.active_03 .imgDiv{padding:15px 0 5px 0;}

.activeShow_01{width:663px; height:83px; overflow:hidden; margin:0 auto; background:url(../image/limg703.png) left top no-repeat; padding:10px 0 0 40px; position:relative;}
.activeShow_01 li{height:23px; line-height:24px; overflow:hidden; color:#fff;}
.activeShow_01 li span{width:16px; height:24px; text-align:center; display:inline-block; background:url(../image/limg16_1.png) left center no-repeat; color:#e38100; padding-right:7px;}
.activeShow_01 .btn{position:absolute; top:10px; right:30px; display:block; width:73px; height:70px; overflow:hidden; background:url(../image/limg73.png) left top no-repeat; color:#fff; font-size:28px; text-align:center; line-height:32px; padding-top:3px;}

.activeShow_02 h1{font-size:26px; text-align:center; padding:30px 0 5px 0; color:#000;}
.activeShow_02 .time{text-align:center;}
.activeShow_02 .link{padding-top:10px; height:50px; overflow:hidden; text-align:center;}
.activeShow_02 .link a{padding:0 2px;}
.activeShow_02 .imgDiv{text-align:center; width:663px; overflow:hidden; margin:0 auto;}
.activeShow_02 .content{padding:12px 35px 25px 35px; line-height:28px; text-align:justify;}
.activeShow_02 .btn{height:75px; padding-top:25px; text-align:center; overflow:hidden; background:#f5f4f4; border-bottom:#dbdbdb solid 1px; border-top:#dbdbdb solid 1px;}
.activeShow_02 .btn a{display:inline-block; width:214px; height:48px; line-height:48px; font-size:24px; overflow:hidden; color:#fff; background:url(../image/lsBtn4.png) left top no-repeat;}
.activeShow_02 .next{padding:22px 35px 0 35px; height:85px; overflow:hidden;}

.activeLayer{width:821px; height:384px; overflow:hidden; position:relative; padding-top:15px;}
.activeLayer .ico{position:absolute; left:103px; top:0px;}
.activeLayer .box{width:721px; background:#fff; padding:42px 50px;}
.activeLayer h1{height:42px; line-height:42px; overflow:hidden; font-size:20px; border-bottom:#e5e5e5 solid 1px; padding-left:122px;}
.activeLayer .close{position:absolute; top:26px; right:12px; display:block; width:23px; height:22px; overflow:hidden; background:url(../image/nimg23.gif) left top no-repeat;}
.activeLayer .form{padding:28px 0 20px 0; border-bottom:#e5e5e5 solid 1px;}
.activeLayer li{padding-left:245px; height:34px; line-height:26px; overflow:hidden; position:relative;}
.activeLayer em{position:absolute; left:0px; top:0px; width:232px; text-align:right; font-size:14px;}
.activeLayer .input1{width:356px; padding:0 5px; height:24px; line-height:24px; border:#d0d0d0 solid 1px; float:left;}
.activeLayer .input2{width:200px;}
.activeLayer .input3{width:80px;}
.activeLayer li img{float:left; margin:0 7px;}
.activeLayer .btn1{width:92px; height:26px; color:#fff; background:url(../image/lsBtn5.png) left top no-repeat; border:0px; font-size:14px; cursor:pointer; float:left; margin-right:11px;}
.activeLayer .btn2{background:url(../image/lsBtn6.png) left top no-repeat;}
.activeLayer li a{color:#2472c9;}
.activeLayer span{font-size:14px; float:left; padding-right:7px;}
.activeLayer .link{padding-top:20px; text-align:center; height:25px; line-height:19px; overflow:hidden;}

.activeLayer1{width:536px; height:127px; overflow:hidden; background:#fff; position:relative; padding:70px 0 0 285px; font-size:14px;}
.activeLayer1 .close{position:absolute; top:11px; right:12px; display:block; width:23px; height:22px; overflow:hidden; background:url(../image/nimg23.gif) left top no-repeat;}
.activeLayer1 .imgDiv{position:absolute; left:214px; top:70px;}
.activeLayer1 span{color:#e60012;}
.activeLayer1 .msg{padding-bottom:8px;}
.activeLayer1 .btn{font-size:20px; color:#cb0000;}
.activeLayer1 .msg1{height:55px; line-height:55px; overflow:hidden; font-size:20px;}

.card2Part1{position:relative; padding:40px 0 25px 292px;}
.card2Part1 h1{height:44px; line-height:44px; overflow:hidden; width:956px; padding-left:44px; background:url(../image/lsBtn7.png) left top no-repeat; color:#fff; font-size:18px; position:absolute; left:-1px; top:0px; z-index:10;}
.card2Part1 .imgDiv{position:absolute; z-index:1; left:35px; top:83px;}
.card2Part1 .bgT{width:699px; overflow:hidden; background:url(../image/lsBg2.gif) left top no-repeat; padding-top:17px;}
.card2Part1 .table{background:url(../image/lsBg3.gif) left top repeat-y; min-height:50px; _height:50px; padding:9px 30px;}
.card2Part1 .bgB{background:url(../image/lsBg4.gif) left top no-repeat; height:18px; overflow:hidden;}
.card2Part1 td{height:42px; overflow:hidden; background:url(../image/lline1.gif) left bottom repeat-x; font-size:16px; font-weight:bold; color:#393939;}
.card2Part1 .num{font-size:24px; color:#fe8300; font-family:Arial; padding-left:5px; background:url(../image/lsBg1.png) 40px center no-repeat;}
.card2Part1 td b{color:#e60012;}
.card2Part1 .inputDiv{background:url(../image/input4.gif) left top no-repeat; width:88px; height:24px; overflow:hidden;}
.card2Part1 .inputDiv span{display:block; float:left; width:24px; height:24px; cursor:pointer;}
.card2Part1 .inputDiv input{float:left; width:40px; height:24px; line-height:24px; text-align:center;}
.card2Part1 .btnDiv{padding-top:17px; height:55px; line-height:35px; overflow:hidden; width:310px; margin:0 auto; font-size:16px; color:#393939; font-weight:bold;}
.card2Part1 .btnDiv i{float:left;}
.card2Part1 .input2{width:82px; height:23px; line-height:23px; border:#ddd solid 1px; text-align:center; margin:0 4px; color:#e60012; font-weight:bold; font-size:16px; float:left; position:relative; top:6px;}
.card2Part1 .btn1{float:left; margin-left:12px; width:107px; padding-left:35px; height:35px; background:url(../image/lsBtn8.png) left top no-repeat; font-size:18px; color:#fff; cursor:pointer;}

.cardTab{height:42px; overflow:hidden; background:#e60012; padding-left:45px;}
.cardTab h1{float:left; line-height:42px; padding-right:25px; color:#fff; font-size:18px;}
.cardTab ul{float:left; position:relative; top:16px;}
.cardTab li{float:left; height:26px; line-height:26px; overflow:hidden; width:93px; text-align:center; background:url(../image/lsBg2.png) left top no-repeat; margin-right:3px; font-size:14px; color:#686363;}
.cardTab .liNow{background:url(../image/lsBg3.png) left top no-repeat; color:#cf0010; font-weight:bold;}
/**/
.card2List1{padding:35px 50px; color:#424242;}
.card2List1 li{float:left; width:263px; height:190px; overflow:hidden; background:url(../image/lbg14.png) left top no-repeat; text-align:center; margin-right:30px; font-size:18px;}
.card2List1 .li_01{background:url(../image/lbg15.png) left top no-repeat; width:303px;}
.card2List1 li .imgDiv{padding-top:22px;}
.card2List1 li .name{padding:7px 0 28px 0;}
.card2List1 li .msg{color:#616161;}
.card2List1 li .msg a{display:inline-block; width:113px; height:35px; line-height:35px; background:url(../image/lbtn19.png) left top no-repeat; color:#fff; text-align:left; padding-left:29px;}
.card2List1 .content{color:#484848; line-height:20px; padding:25px 0; text-align:justify;}
.card2List1 .content1{background:url(../image/lbg16.png) left top no-repeat;}
/**/
.card2List{padding:30px 0 0 0; width:959px; overflow:hidden; margin:0 auto; position:relative;}
.card2List ul{width:110%;}
.card2List li{float:left; height:176px; width:120px; padding:0 20px; text-align:center; overflow:hidden; background:url(../image/lline4.gif) right top no-repeat;}
.card2List h2{padding:8px 0; color:#484848;}
.card2List h2 span{font-weight:100;}
.card2List .inputDiv{background:url(../image/input4.gif) left top no-repeat; width:88px; height:24px; overflow:hidden; margin:0 auto;}
.card2List .inputDiv span{display:block; float:left; width:24px; height:24px; cursor:pointer;}
.card2List .inputDiv input{float:left; width:40px; height:24px; line-height:24px; text-align:center;}
.card2List .btnDiv{padding-top:25px; height:76px; line-height:35px; text-align:center; overflow:hidden; font-size:16px; color:#393939; font-weight:bold; border-top:#ddd solid 1px;}
.card2List .input2{width:82px; height:23px; line-height:23px; border:#ddd solid 1px; text-align:center; margin:0 4px; color:#e60012; font-weight:bold; font-size:16px;}
.card2List .btn1{margin-left:12px; width:107px; padding-left:35px; height:35px; background:url(../image/lsBtn8.png) left top no-repeat; font-size:18px; color:#fff; cursor:pointer;}
/**/
.card2List2{padding:20px 35px;}
.card2List2 .name{color:#323030;}
.card2List2 .name span{font-size:14px;}
.card2List2 .msg{color:#8a8a8a; padding:5px 0 15px 0;}

.card2Part3{padding:0 40px; position:relative; min-height:200px; _height:200px;}
.card2Part3 h1{color:#cf0010; height:55px; line-height:55px; overflow:hidden;}
.card2Part3 .content{line-height:24px;}
.card2Part3 .imgDiv{position:absolute; top:25px; right:55px;}

.BuyersPart1{height:145px; overflow:hidden; background:url(../image/limg1400.jpg) center top no-repeat; padding:15px 0;}
.BuyersPart1 .wal{background:url(../image/lsBg4.png) left top repeat; height:101px; overflow:hidden; padding:12px 13px; width:974px;}
.BuyersPart1 .fl{position:relative; height:103px; width:400px; overflow:hidden; padding-left:121px;}
.BuyersPart1 .fl .ico{position:absolute; left:0px; top:0px;}
.BuyersPart1 .fl .name{font-size:14px; font-weight:bold; padding-top:68px;}
.BuyersPart1 .fr{padding-top:85px;}
.BuyersPart1 .fr li{float:left; padding-right:25px;}

.BuyersPart2{padding:20px 40px;}
.BuyersPart2 li{position:relative; padding-left:90px; min-height:50px; _height:50px; background:url(../image/lline1.gif) left bottom repeat-x;}
.BuyersPart2 .time{position:absolute; left:0px; top:35px; white-space:nowrap;}
.BuyersPart2 .time span{padding-left:10px;}
.BuyersPart2 .name{padding:25px 0 15px 0; font-size:22px;}
.BuyersPart2 .name a{color:#e60012;}
.BuyersPart2 .content{color:#404040;}
.BuyersPart2 .imgDiv{padding:15px 0 35px 0;}

.ChannelFlash{height:226px; overflow:hidden; background:url(../image/lsBg5.png) left top no-repeat; position:relative;}
.ChannelFlash li{position:absolute; left:5px; top:5px; z-index:1; display:none;}
.ChannelFlash .btnDiv{position:absolute; bottom:19px; right:5px; z-index:10;}
.ChannelFlash span{display:block; width:30px; height:12px; overflow:hidden; background:url(../image/nimg12_1.png) center top no-repeat; float:left;}
.ChannelFlash .spanNow{background:url(../image/nimg12_2.png) center top no-repeat;}

.ChannelPart1{min-height:100px; _height:100px;}
.ChannelPart1 li{border-bottom:#dcdcdc dotted 1px; padding-bottom:10px;}
.ChannelPart1 h2{padding:10px 20px;}
.ChannelPart1 .content{padding-left:42px; font-size:14px; line-height:28px;}
.ChannelPart1 .content a{padding-right:12px; white-space:nowrap;}

.ChannelPart2{height:38px; overflow:hidden; background:#545454;}
.ChannelPart2 li{float:left; color:#fff; height:38px; line-height:38px; overflow:hidden; border-right:#949494 solid 1px;}
.ChannelPart2 a{color:#fff; padding:0 18px;}
.ChannelPart2 a span{padding-right:14px; background:url(../image/lico4.png) right center no-repeat;}
.ChannelPart2 em{float:left; padding:0 9px 0 19px;}
.ChannelPart2 .input1{float:left; width:57px; padding:0 5px; height:21px; line-height:21px; background:#fafafa; border:0px; position:relative; top:9px;}
.ChannelPart2 .input2{margin-right:19px;}
.ChannelPart2 .tips{float:left; padding:0 5px;}
.ChannelPart2 .selectDiv{background:url(../image/lico5.png) right center no-repeat; height:38px; width:80px; float:left; margin-left:15px;}
.ChannelPart2 .li_01{border:0px;}
/**/
.ChannelPart2Layer{position:absolute; z-index:100; width:147px; height:26px; overflow:hidden; background:#efeceb; text-align:center; padding-top:5px; display:none;}
.ChannelPart2Layer a{width:46px; height:20px; line-height:20px; border:0px; background:url(../image/btn12.gif) left top no-repeat; display:inline-block; margin:0 5px;}
.ChannelPart2Layer a:hover{background:url(../image/btn12.gif) right top no-repeat; color:#FFF;}

.ChannelPart3{padding-top:6px; background:#fff; width:722px;}
.ChannelPart3 .liNow {z-index:2;}
.ChannelPart3 ul{width:110%;}
.ChannelPart3 li{float:left; width:180px; height:203px; margin-right:1px; color:#747474; position:relative;}
.ChannelPart3 h2{padding:10px 0 5px 15px;}
.ChannelPart3 .imgDiv img{width:180px; height:118px; position:relative;}
.ChannelPart3 .content{padding-left:15px;}
.ChannelPart3 .price{padding:5px 0 0 15px;}
.ChannelPart3 .price b{color:#d2000a; padding-right:15px;}
.ChannelPart3 .price img{position:relative; top:2px; margin-right:4px;}
/**/
.ChannelPart3 .ico{position:absolute; left:75px; top:78px; z-index:11; display:none;}
.ChannelPart3 .contentDiv{position:absolute; top:61px; left:0px; z-index:10; padding-top:13px; width:150px; height:140px; background:#232323; padding:0 15px; display:none;}
.ChannelPart3 h3{padding:30px 0 10px 0; border-bottom:#4f4f4f solid 1px; text-align:center;}
.ChannelPart3 h3 a{color:#fff;}
.ChannelPart3 .contentDiv div{line-height:21px; color:#b0b0b0; padding:5px 0 15px 0;}

.sidePart1{background:#fff; height:310px; position:relative; padding-top:83px; text-align:center;}
.sidePart1 .ico{position:absolute; left:0px; top:0px;}
.sidePart1 .title{padding:15px 0 12px 0; font-size:14px;}
.sidePart1 .name{padding:10px 0 15px 0; font-size:14px;}
.sidePart1 .btn{height:73px; text-align:center; overflow:hidden;}
.sidePart1 .btn a{background:url(../image/lsBtn10.png) left top no-repeat; display:inline-block; width:85px; height:29px; line-height:29px; overflow:hidden; font-size:14px; font-weight:bold; color:#fff;}

.detailTitle{font-size:24px; color:#242424; padding:30px 0 15px 0;}
/**/
.DetailPart1_01{padding:8px; width:486px; height:391px; border:#dbdbdb solid 1px; background:#FFF; overflow:hidden;}
.DetailPart1_01 ul{width:2000%;}
.DetailPart1_01 .list{width:486px; height:331px; overflow:hidden; position:relative;}
.DetailPart1_01 .list li{float:left; width:486px; overflow:hidden;}
.DetailPart1_01 .imgList{width:486px; overflow:hidden;}
.DetailPart1_01 .imgList li{float:left; margin-right:9px; height:60px; width:90px; background:#000; overflow:hidden;}
/**/
.DetailPart1_02{width:304px; height:407px; overflow:hidden; border:#d4d4d4 solid 1px; left:-1px; position:relative; background:#FFF;}
.DetailPart1_02 h5{padding:35px 0 7px 18px; color:#6b6b6b;}
.DetailPart1_02 .imgDiv{padding-left:18px; padding-bottom:5px;}
.DetailPart1_02 .list li{height:23px; line-height:23px; overflow:hidden; padding-left:18px;}
.DetailPart1_02 .list img{float:left; position:relative; top:5px; margin-right:5px;}
.DetailPart1_02 .msg{height:50px; overflow:hidden; background:#f4f4f4; position:relative; padding-left:18px; margin-top:5px;}
.DetailPart1_02 .msg li{float:left; padding:12px 4px 0 0;}
.DetailPart1_02 .msg .btn{background:url(../image/nimg99.png) left top no-repeat; width:67px; height:29px; line-height:29px; overflow:hidden; padding-left:32px; font-size:14px; color:#232323; display:block; float:left;}
.DetailPart1_02 .num{padding:12px 0 0 18px; height:48px; line-height:27px; overflow:hidden;}
.DetailPart1_02 .num li{float:left;}
.DetailPart1_02 .num .inputDiv{background:url(../image/input5.gif) left top no-repeat; height:27px; width:90px;}
.DetailPart1_02 .num span{display:block; float:left; width:18px; height:27px; overflow:hidden; color:#333132; cursor:pointer;}
.DetailPart1_02 .num input{float:left; width:36px; text-align:center; height:29px; line-height:29px;}
.DetailPart1_02 .num a{float:left; width:60px; height:27px; line-height:27px; overflow:hidden; background:url(../image/lsBtn1.gif) left top no-repeat; padding-left:32px; display:block;}
.DetailPart1_02 .btnDiv{height:53px; overflow:hidden;}
.DetailPart1_02 .btnDiv .btn1{display:block; float:left; width:136px; height:36px; line-height:36px; text-align:center; overflow:hidden; background:url(../image/lsBtn2.gif) left top no-repeat; font-size:16px; font-weight:bold; color:#fff; margin-left:8px;}
.DetailPart1_02 .btnDiv .btn2{background:url(../image/lsBtn3.gif) left top no-repeat;}
.DetailPart1_02 .notice{padding-left:57px; height:43px; overflow:hidden;}
.DetailPart1_02 .notice li{float:left; padding-right:25px;}
.DetailPart1_02 .notice img{margin-right:6px; float:left;}
/**/
.DetailPart1_02 .contentDiv{position:absolute; top:0px; right:0px; z-index:10; width:123px; height:147px; overflow:hidden; background:url(../image/lsBg7.png) left top no-repeat; text-align:center; color:#fff; padding:0 10px;}
.DetailPart1_02 .msg1{padding:15px 0;}
.DetailPart1_02 .price{border-bottom:#fff solid 1px; height:46px; overflow:hidden;}
.DetailPart1_02 .price i{position:relative; top:-18px;}
.DetailPart1_02 .price b{font-size:40px; font-family:Arial; padding:0 5px;}
.DetailPart1_02 .time{padding-top:10px;}

.DetailPart2{width:164x; height:407px; overflow:hidden; padding:0 10px; color:#010101;}
.DetailPart2 h1{padding:15px 0 10px 0; background:url(../image/lline5.gif) left bottom repeat-x;}
.DetailPart2 h2{padding:18px 0 6px 0;}
.DetailPart2 li{height:23px; overflow:hidden;}
.DetailPart2 li img{position:relative; top:2px;}
.DetailPart2 .btn{padding:15px 0 10px 0; background:url(../image/lline5.gif) left bottom repeat-x;}
.DetailPart2 .btn a{display:inline-block; width:73px; height:28px; line-height:28px; text-align:center; background:url(../image/lsBtn11.png) left top no-repeat; margin-right:7px;}
.DetailPart2 .content{line-height:22px; padding:10px 0 0 0;}

.DetailPart3{width:194px; color:#4c4c4c;}
.DetailPart3 h1{padding:10px 20px; color:#000;}
.DetailPart3 .content{line-height:20px; padding:0 0 20px 20px; background:url(../image/lline5.gif) left bottom repeat-x;}
.DetailPart3 .list{padding:0 0 20px 20px; min-height:20px; _height:20px; background:url(../image/lline5.gif) left bottom repeat-x;}
.DetailPart3 .list li{float:left; width:40px; height:22px; overflow:hidden;}
.DetailPart3 .list1{padding:10px 0 20px 20px;}
.DetailPart3 .list1 li{padding:0 0 0 20px; position:relative; height:24px; position:relative; overflow:hidden;}
.DetailPart3 .list1 li .num{position:absolute; left:0px; top:3px; z-index:10; background:#86000b; width:13px; height:13px; line-height:13px; text-align:center; overflow:hidden; font-size:14px; font-style:italic; font-family:Arial; color:#fff;}
.DetailPart3 .list1 li .num1{background:#6e6e6e;}
.DetailPart3 .list1 li .msg{display:none;}
.DetailPart3 .list1 li .imgDiv{display:none; position:absolute; left:0px; top:0px;}
.DetailPart3 .list1 li h5{font-weight:100;}
.DetailPart3 .list1 .liNow{height:66px; padding:0 0 0 58px;}
.DetailPart3 .list1 .liNow .num{top:37px;}
.DetailPart3 .list1 .liNow .imgDiv{display:block;}
.DetailPart3 .list1 .liNow .msg{display:block;}
.DetailPart3 .list1 .liNow h5{font-weight:bold; padding-bottom:5px;}

.DetailPart4{width:611px; overflow:hidden; color:#363635;}
.DetailList{height:43px; overflow:hidden; background:url(../image/lbg15.gif) left top repeat-x; padding:10px 0 0 15px;}
.DetailList li{float:left;}
.DetailList a{display:block; height:32px; line-height:31px; padding:0 15px; overflow:hidden; border:#e1e1e0 solid 1px; border-bottom:0px; margin-right:5px; color:#000; font-weight:bold;}
.DetailList .liNow a{color:#bc020a; background:#fff;}
/**/
.DetailPart4_01 .list{padding:20px 0 0 20px;}
.DetailPart4_01 li{float:left; width:72px; height:67px; overflow:hidden; background:url(../image/lbg18.png) left top no-repeat; margin:0 11px 14px 0; text-align:center; padding-top:5px; position:relative;}
.DetailPart4_01 li a{display:block; cursor:pointer;}
.DetailPart4_01 li .img{position:absolute; top:1px; right:1px;}
.DetailPart4_01 h2{padding:15px 0; background:url(../image/lline1.gif) left top repeat-x; margin:0 20px;}
.DetailPart4_01 .content{line-height:24px; margin:0 20px;}

.DetailPart4_02 .content{background:url(../image/lline5.gif) left bottom repeat-x; padding:20px 0 50px 0;}
.DetailPart4_02 .content li{position:relative; padding:0 45px 0 97px; line-height:20px;}
.DetailPart4_02 .content b{position:absolute; left:0px; top:0px; width:88px; display:block; text-align:right; overflow:hidden;}
.DetailPart4_02 .msg{padding-left:26px;}
.DetailPart4_02 h2{padding:28px 0 20px 0;}
.DetailPart4_02 .list1{width:100px; overflow:hidden;}
.DetailPart4_02 .list{width:135px; padding-left:10px; overflow:hidden; float:left;}
.DetailPart4_02 .list li{height:26px; line-height:26px; overflow:hidden;}
.DetailPart4_02 .list img{margin-right:9px;}

.DetailPart4_03{padding:10px 0 0 25px;}
.DetailPart4_03 h2{height:25px; overflow:hidden;}
.DetailPart4_03 .content{line-height:22px; padding-bottom:20px;}

.DetailPart4_04{padding:0 30px;}
.DetailPart4_04 h2{padding:20px 0 15px 0;}
.DetailPart4_04 .msg{padding:15px 0 35px 0; background:url(../image/lline1.gif) left bottom repeat-x; line-height:20px;}

.DetailPart4_05 .title{height:37px; overflow:hidden; background:url(../image/lbg16.gif) left top repeat-x; padding-left:24px;}
.DetailPart4_05 .title li{height:37px; line-height:37px; overflow:hidden; float:left; padding-right:20px;}
.DetailPart4_05 .title input{position:relative; left:-2px; top:2px;}
.DetailPart4_05 .list li{padding-left:115px; border-bottom:#e1e1e0 solid 1px; position:relative; min-height:50px; _height:50px;}
.DetailPart4_05 .imgDiv{position:absolute; left:24px; top:18px;}
.DetailPart4_05 .imgDiv div{padding-top:6px;}
.DetailPart4_05 .content{padding:20px 0; line-height:18px; width:480px;}
.DetailPart4_05 .msg{color:#757575; padding-bottom:20px;}

.DetailPart4_06 th{height:37px; overflow:hidden; background:url(../image/lbg16.gif) left top repeat-x;}
.DetailPart4_06 td{height:46px; line-height:46px; overflow:hidden; border-bottom:#e1e1e0 solid 1px; text-align:center;}

.DetailPart5{width:184px; border-left:0px;}
.DetailPart5 h1{background:#f7f7f6; height:42px; line-height:42px; overflow:hidden; border-bottom:#efefee solid 1px; padding-left:16px;}
.DetailPart5 .list{padding:10px 15px;}
.DetailPart5 .price{height:30px; line-height:30px; overflow:hidden;}
.DetailPart5 .content{line-height:18px; padding:5px 0 20px 0;}
.DetailPart5 .name{background:none; border-bottom:0px; border-top:#e1e1e0 solid 1px;}

.DetailLayer{position:absolute; z-index:100; background:url(../image/limg515_3.png) left top no-repeat; width:515px; height:243px; overflow:hidden; display:none;}
.DetailLayer .bg{padding:20px 25px; height:203px; position:relative;}
.DetailLayer .close{display:block; background:url(../image/close.gif) left top no-repeat; width:66px; height:17px; overflow:hidden; position:absolute; top:27px; right:25px;}
.DetailLayer .content{padding:10px 0 5px 0; line-height:22px;}
.DetailLayer .text{height:107px; overflow:hidden;}
.DetailLayer textarea{border:#dbdbdb solid 1px; width:458px; height:94px; overflow:hidden;}
.DetailLayer .btn{display:block; width:110px; height:32px; line-height:32px; text-align:center; background:url(../image/lbtn.gif) left top no-repeat; font-size:14px; color:#fff; cursor:pointer;}

.ArticleFlash{width:733px; height:278px; overflow:hidden; position:relative; border:#dbdbdb solid 1px;}
.ArticleFlash li{position:absolute; z-index:1; left:0px; top:0px; display:none;}
.ArticleFlash .btnDiv{position:absolute; left:0px; bottom:16px; z-index:10; width:100%; text-align:center;}
.ArticleFlash span{display:inline-block; width:35px; height:17px; overflow:hidden; text-align:center; background:url(../image/btn1.png) left center no-repeat;}
.ArticleFlash .spanNow{background:url(../image/btn2.png) left center no-repeat;}

.ArticlePart1{padding-top:20px;}
.ArticlePart1 .listImg{width:241px; overflow:hidden; padding-left:22px;}
.ArticlePart1 .listImg li{height:238px; overflow:hidden; text-align:center;}
.ArticlePart1 .listImg .name{padding-top:10px;}
.ArticlePart1 .listDiv{width:422px; overflow:hidden; padding-right:22px;}
.ArticlePart1 .listDiv li{height:32px; line-height:31px; overflow:hidden; background:url(../image/lline1.gif) left bottom repeat-x; position:relative;}
.ArticlePart1 .listDiv a{padding-left:20px; background:url(../image/lico10.gif) 7px center no-repeat;}
.ArticlePart1 .listDiv span{position:absolute; top:0px; right:10px; color:#a9a9a9;}
.ArticlePart1 .pageNum{border-top:#e5e5e5 solid 1px; padding-top:30px;}

.ArticleTab{height:33px; border:#dbdbdb solid 1px; border-bottom:0px; overflow:hidden; background:url(../image/lsBg5.gif) left top repeat-x; padding:10px 0 0 15px;}
.ArticleTab li{float:left; width:92px; text-align:center; height:32px; line-height:31px; overflow:hidden; border:#dbdbdb solid 1px; border-bottom:0px; margin-right:9px; font-weight:bold;}
.ArticleTab .liNow{background:#fff; color:#bc020a;}

.ArticleShow{position:relative; min-height:100px; _height:100px;}
.ArticleShow h1{border-bottom:#dbdbdb solid 1px; height:36px; line-height:36px; overflow:hidden; background:#efefef; padding-left:23px;}
.ArticleShow .pageNow1{position:absolute; right:15px; top:10px; background:url(../image/lico9.png) left center no-repeat; padding-left:12px;}
.ArticleShow .link{padding:10px 15px 0 0; text-align:right; height:35px; overflow:hidden;}
.ArticleShow .link a{padding:0 2px;}
.ArticleShow .title{text-align:center; font-size:26px; color:#000;}
.ArticleShow .time{padding:10px 0 30px 0; text-align:center;}
.ArticleShow .imgDiv{text-align:center;}
.ArticleShow .content{width:660px; overflow:hidden; margin:0 auto; padding:20px 0 15px 0; line-height:28px; border-bottom:#eaeaea solid 1px; margin-bottom:25px; text-align:justify;}
.ArticleShow .fl{padding-left:38px; height:70px; overflow:hidden;}
.ArticleShow .fr{padding-right:36px; height:70px; overflow:hidden;}

.payment{text-align:center; padding:25px 0; font-size:14px; line-height:28px; background:#fff; border-bottom:#dbdbdb solid 1px;}
.payment b{color:#F00;}

.paymentList{padding:0 35px; border:#dbdbdb solid 1px; border-top:#232322 solid 5px; color:#6b6b6b; min-height:100px; _height:100px; background:#fff;}
.paymentList .title{padding:25px 0 0 0; height:50px; background:url(../image/lline5.gif) left bottom repeat-x; line-height:31px;}
.paymentList .title input{float:left; margin-right:20px; position:relative; top:5px;}
.paymentList h2{padding:25px 0;}
.paymentList .list{width:928px; overflow:hidden;}
.paymentList ul{width:110%;}
.paymentList li{width:236px; height:63px; overflow:hidden; float:left;}
.paymentList li input{float:left; position:relative; top:10px; margin-right:8px;}
.paymentList li img{border:#e1e1e1 solid 1px;}
.paymentList .liNow img{border:#ffb54d solid 1px;}
.paymentList .btn{text-align:center; padding-top:25px; background:url(../image/lline5.gif) left top repeat-x; height:100px; overflow:hidden;}
.paymentList .btn a{width:160px; height:42px; line-height:40px; background:url(../image/lsBtn12.png) left top no-repeat; display:inline-block; font-size:20px; font-weight:bold; color:#fff;} 
.paymentList .btn span{padding-right:18px;}

.sucPayment{width:490px; overflow:hidden; margin:0 auto; padding:50px 0;}
.sucPayment .msg{height:70px; line-height:50px; overflow:hidden; font-size:14px;}
.sucPayment .msg img{float:left; margin-right:15px;}
.sucPayment .msg a{padding-left:20px; color:#e60012; font-weight:bold;}
.sucPayment .content{line-height:28px; padding-bottom:15px; background:url(../image/lline1.gif) left bottom repeat-x;}
.sucPayment .content b{color:#e60012;}
.sucPayment h2{padding:20px 0 15px 0; font-weight:100; color:#e60012;}
.sucPayment dl{height:85px; overflow:hidden;}
.sucPayment dt{width:100px; overflow:hidden; float:left;}
.sucPayment dd{width:377px; overflow:hidden; float:right; line-height:22px;}
.sucPayment .btn{background:url(../image/btn1.gif) left top no-repeat; width:100px; height:32px; line-height:32px; text-align:center; overflow:hidden; display:block; font-size:14px; color:#fff;}

.topicFlash{position:relative; height:348px; overflow:hidden; border:#cdcccb solid 1px;}
.topicFlash li{position:absolute; left:0px; top:0px; z-index:1; display:none;}
.topicFlash .btnDiv{position:absolute; left:0px; bottom:13px; z-index:10; text-align:center; width:100%;}
.topicFlash span{display:inline-block; width:35px; height:17px; overflow:hidden; text-align:center; background:url(../image/btn1.png) center top no-repeat;}
.topicFlash .spanNow{background:url(../image/btn2.png) center top no-repeat;}

.topicList{background:#e3e2e1; min-height:100px; _height:100px; padding:19px 20px 0 21px; width:959px; overflow:hidden; position:relative;}
.topicList ul{width:110%;}
.topicList li{width:224px; height:178px; text-align:center; margin-right:22px; overflow:hidden; position:absolute;}
.topicList .li_01{width:470px; height:356px; margin-right:22px; overflow:hidden;}
.topicList h2{padding-top:3px;}

.coachHomeList .listImg li{height:252px; overflow:hidden;}

.coachHomeShow{position:relative;}
.coachHomeShow .content{width:736px; overflow:hidden;}
.coachHomeShow .btnDiv{position:absolute; left:22px; top:54px;}
.coachHomeShow .btnDiv a{float:left;}
.coachHomeShow .btnDiv .btn1{display:inline-block; width:96px; height:31px; line-height:31px; text-align:center; color:#fff; background:url(../image/lcBtn10.gif) left top no-repeat; font-size:14px; font-weight:bold; margin-right:7px;}
.coachHomeShow .btn{background:#f5f4f4; border:#dbdbdb solid 1px; height:96px; overflow:hidden; border-left:0px; border-right:0px; text-align:center; margin-bottom:18px;}
.coachHomeShow .btn a{display:inline-block; width:214px; height:48px; line-height:48px; color:#fff; overflow:hidden; background:url(../image/lcBtn11.gif) left top no-repeat; margin-top:22px; font-size:24px;}
.coachHomeShow .content1{border-bottom:0px; margin-bottom:0px;}

.Prefecture_01{padding:0 10px;}
.Prefecture_01 ul{width:110%;}
.Prefecture_01 .li_01 a{font-size:17px; color:#8f8f8f; padding-right:15px;}
.Prefecture_01 .li_02 a{font-size:14px; color:#9e000c; padding-right:26px;}
.Prefecture_01 .li_03 a{color:#a36a2f; font-size:15px; padding-right:38px;}
.Prefecture_01 .li_04 a{color:#036f9f; font-size:17px; padding-right:16px;}
.Prefecture_01 .li_05 a{color:#8e8600; font-size:17px; padding-right:14px;}
.Prefecture_01 .li_06 a{color:#a26288; font-size:14px;}

.Prefecture_02{text-align:center; padding-bottom:8px;}
.Prefecture_02 h1{height:37px; line-height:37px; overflow:hidden; background:#3f3f3f; color:#fff;}
.Prefecture_02 li{height:33px; line-height:33px; overflow:hidden; background:url(../image/lline8.gif) left bottom repeat-x;}
.Prefecture_02 a{color:#232323;}
.Prefecture_02 a:hover, .Prefecture_02 .aNow{color:#db030c; text-decoration:none;}

.Prefecture{padding:0 28px 30px 28px;}
.Prefecture h1{width:94px; height:24px; line-height:24px; text-align:center; background:url(../image/lcBtn12.gif) left top no-repeat; margin-top:25px; font-size:14px; color:#fff;}
.Prefecture h5{padding:15px 0 6px 0;}
.Prefecture .content{line-height:24px; background:url(../image/lline8.gif) left bottom repeat-x; padding-bottom:12px;}
.Prefecture .content1{background:none;}

.Question{padding:18px 28px;}
.Question li{padding:18px 0; position:relative; background:url(../image/lline8.gif) left bottom repeat-x;}
.Question .Q{padding-left:53px; position:relative; height:30px; line-height:24px; overflow:hidden; font-weight:bold;}
.Question .Q img{position:absolute; left:0px; top:0px;}
.Question .A{padding-left:53px; position:relative; line-height:24px; width:659px; overflow:hidden;}
.Question .A .ico{position:absolute; left:0px; top:0px;}
.Question .table{padding:15px 0 7px 0;}
.Question table{width:360px; overflow:hidden; border:#c8c8c8 dashed 1px; border-right:0px; border-bottom:0px;}
.Question td{height:57px; overflow:hidden; border:#c8c8c8 dashed 1px; border-left:0px; border-top:0px; text-align:center; font-size:14px;}

.help{padding:0 28px; color:#4d4d4d; min-height:600px; _height:600px;}
.help h5{padding:30px 0 50px 0; color:#333;}
.help li{float:left; padding:0 17px 0 121px; position:relative; height:110px; overflow:hidden; background:url(../image/lline9.gif) right top no-repeat;}
.help .imgDiv{position:absolute; left:0px; top:0px;}
.help .name{padding:0px 0 6px 0;}
.help .content{line-height:18px; padding-bottom:5px;}
.help .btn{display:block; width:68px; padding-left:6px; height:22px; line-height:22px; overflow:hidden; background:url(../image/lcBtn13.gif) left top no-repeat; color:#fff;}
.help .li_01{background:none; margin-left:10px;}

.Guarantee{padding:0 22px 30px 22px; color:#232323;}
.Guarantee .notice{padding:30px 0 6px 0; font-size:16px; font-weight:bold; color:#e60012;}
.Guarantee .notice img{position:relative; top:2px; margin-right:6px;}
.Guarantee .list{padding-bottom:24px; background:url(../image/lline8.gif) left bottom repeat-x;}
.Guarantee li{padding-left:34px; background:url(../image/lico10.gif) 26px 14px no-repeat; font-size:14px; width:660px; overflow:hidden; line-height:28px;}
.Guarantee h1{padding:15px 0;}
.Guarantee span{font-weight:100;}
.Guarantee .content1{position:relative; top:-15px; padding-left:163px; line-height:28px; font-size:14px; position:relative;}
.Guarantee .content1 b{position:absolute; left:89px; top:0px;}
.Guarantee .content2{padding:5px 0 20px 89px; line-height:28px; background:url(../image/lline8.gif) left bottom repeat-x;}
.Guarantee .content3{padding:0 0 20px 89px; line-height:28px; background:url(../image/lline8.gif) left bottom repeat-x;}

.Refund h1{font-weight:bold; text-align:center;}






.searchShow_1{padding:0 20px;}
.searchShow_1 li{padding:8px 0 8px 70px; min-height:28px; _height:28px; line-height:28px; position:relative; background:url(../image/lline13.gif) bottom repeat-x;}
.searchShow_1 span{position:absolute; left:0px; top:8px; color:#8b8b8b; display:block; width:60px; text-align:right;font-size:12px;}
.searchShow_1 a{height:28px; padding:0 10px; line-height:28px; overflow:hidden; display:inline-block; white-space:nowrap;}
.searchShow_1 a:hover{background:#e60012; color:#fff;}

.searchHovers {background:#e60012; color:#fff;}

.searchShow_2{background:url(../image/limg931.png) center top no-repeat; height:46px; overflow:hidden; padding:18px 18px 0 18px;}
.searchShow_2 .list{height:46px; overflow:hidden; background:#545454;}
.searchShow_2 li{float:left; color:#fff; height:46px; line-height:46px; overflow:hidden; border-right:#949494 solid 1px; white-space:nowrap;}
.searchShow_2 a{color:#fff; padding:0 20px;}
.searchShow_2 a span{padding-right:14px; background:url(../image/lico4.png) right center no-repeat;}
.searchShow_2 em{float:left; padding:0 10px 0 20px;}
.searchShow_2 .input1{float:left; width:45px; text-align:center; height:21px; line-height:21px; background:#fafafa; position:relative; top:12px;}
.searchShow_2 .input2{margin-right:20px;}
.searchShow_2 .tips{float:left; padding:0 5px;}
.searchShow_2 .selectDiv{border:#abadb3 solid 1px; width:75px; height:19px; line-height:19px; overflow:hidden; background:#fff url(../image/limg21.gif) right center no-repeat; margin:12px 20px 0 15px; color:#000;}
.searchShow_2 .a1{display:block; float:left; background:url(../image/btn17.gif) center no-repeat; width:84px; height:46px; line-height:46px; text-align:center; color:#FFF; padding:0px; margin:0 15px;}

.searchShow_3{padding:0 18px;}
.searchShow_3 li{height:156px; padding-left:178px; position:relative; background:url(../image/lline14.gif) bottom repeat-x; line-height:20px;}
.searchShow_3 .imgDiv{position:absolute; left:0px; top:25px;}
.searchShow_3 h2{padding:35px 0 20px 0; font-size:16px;}
.searchShow_3 .content{width:238px; overflow:hidden;}
.searchShow_3 .time{position:absolute; left:454px; top:75px; white-space:nowrap;}
.searchShow_3 .msg{position:absolute; top:35px; right:90px; width:198px; overflow:hidden;}





