.pageBox{min-height:616px; _height:616px;}
.sideNav{background:url(../image/sideNav3.gif) left repeat-y; width:182px;}

.shop h1{padding:20px 0 5px 27px; font-size:24px;}
.shop .info li{height:36px; line-height:36px; overflow:hidden; padding-left:115px; position:relative; font-size:14px; color:#666;}
.shop .info em{width:115px; text-align:right; overflow:hidden; position:absolute; left:0px; top:0px; display:block;}
.shop .list{padding:40px 0 0 0;}
.shop .list li{float:left; width:256px; height:138px; overflow:hidden; text-align:center; background:url(../image/lbg4.png) left top no-repeat; font-size:14px; position:relative; left:24px;}
.shop .list a{display:block; background:url(../image/lbg4.png) left top no-repeat; width:231px; height:114px; overflow:hidden; color:#555;}
.shop .list div{padding:12px 0 8px 0;}

.service{padding:29px 0 0 28px;}
.service li{float:left; width:179px; height:172px; overflow:hidden; padding-right:6px; text-align:center;}
.service .title{height:37px; line-height:37px; overflow:hidden; background:#e1e1e1; border:#d7d7d7 solid 1px; border-top:0px;}
.service img{width:179px; height:119px;}

.basic{padding:5px 27px 50px 27px;}
.basic h2{font-weight:100; padding:16px 0 12px 0;}
.basic h2 .radioDiv{font-size:12px; padding-left:15px;}
.basic h2 .radioDiv input{position:relative; top:2px; left:-2px;}
.basic textarea{width:716px; height:86px; background:url(../image/lbg6.gif) left top no-repeat; border:0px; padding:10px; font-size:12px;}
.basic .input1{height:28px; padding-left:10px; overflow:hidden; background:url(../image/lbg7.gif) left top no-repeat;}
.basic .input1 input{width:100%; height:28px; line-height:28px; color:#999; background:url(../image/lbg7.gif) right bottom no-repeat; float:left;}
.basic .input2{float:left; width:350px;}
.basic .input3{float:left; width:630px; margin-right:10px;}
.basic .msg{padding:5px 0 0 10px; color:#999;}
.basic .msg a{color:#999;}
.basic .btn2{float:left; background:url(../image/btn4.gif); width:75px; height:28px;}
.basic .btn1{width:90px; height:32px; border:0px; color:#fff; cursor:pointer; background:url(../image/lbtn.png) left top no-repeat; margin-top:20px;}

.fundsForm{padding:18px 0 0 15px; height:63px; overflow:hidden; background:url(../image/line1.gif) bottom repeat-x;}
.fundsForm li{float:left; padding:0 5px; line-height:40px; font-size:14px;}
.fundsForm .input1{float:left; background:url(../image/input2.gif) left top no-repeat; width:201px; height:42px; line-height:42px; padding:0 10px;}
.fundsForm .btn1{float:left; background:url(../image/btn9.gif); width:76px; height:42px; border:0px;}
/**/
.fundsMsg{height:71px; line-height:70px; overflow:hidden; padding-left:15px; font-size:14px; border-bottom:#ddd solid 1px;}
.fundsMsg .btn{display:inline-block; background:url(../image/lbtn1.png) left top no-repeat; width:120px; height:32px; line-height:32px; text-align:center; color:#FFF;}

.Withdrawals{padding:0 70px;}
.Withdrawals .msg{font-size:14px; font-weight:bold; line-height:36px; padding:35px 0 25px 0; color:#6a6a6a;}
.Withdrawals .btn a{display:block; background:url(../image/btn8.gif); width:148px; height:41px; line-height:41px; text-align:center; font-size:14px; color:#FFF;}
.Withdrawals .inputDiv{height:38px; overflow:hidden; font-size:14px; line-height:28px;}
.Withdrawals .input1{height:28px; padding-left:10px; width:160px; overflow:hidden; background:url(../image/lbg7.gif) left top no-repeat; float:left; margin-right:10px;}
.Withdrawals .input1 input{width:100%; height:28px; line-height:28px; color:#999; background:url(../image/lbg7.gif) right bottom no-repeat;}
.Withdrawals .tips{padding-bottom:25px;}
.Withdrawals .tips a{color:#999;}

.yyForm{padding:18px 0 0 50px;}
.yyForm li{float:left; padding-right:5px;}
.yyForm .selectDiv{width:210px; height:42px; line-height:42px; overflow:hidden; background:url(../image/selectIco.gif) right top no-repeat;}
.yyForm .pageInput input{width:380px;}
.yyForm .btn1{background:url(../image/btn9.gif); width:76px; height:42px; border:0px;}

.appointment4{width:540px; float:left; border-right:#ddd solid 1px; border-bottom:#ddd solid 1px;}
.appointment4 .btn{display:inline-block; width:36px; height:18px; line-height:18px; text-align:center; background:#696969; color:#FFF;}

.sellerPart2{width:222px; overflow:hidden;}
#sellerPart2{height:207px; overflow:hidden; border:#e1e1e0 solid 1px; border-top:0px; background:#FFF;}
.sellerPart2Btn{display:block; background:url(../image/btn5.gif) left top no-repeat; width:102px; height:29px; line-height:29px; text-align:center; overflow:hidden; position:absolute; z-index:1; top:6px; right:4px; color:#FFF;}

.trainLayer2{background:url(../image/trainLayer.png) left top no-repeat; width:398px; height:364px; display:none;}
.trainLayer2 .bg{padding:20px 12px 20px 13px;}
.trainLayer2 h5{height:25px; background:none;}
.trainLayer2 .close{top:0px;}
.trainLayer2 .form{height:31px; line-height:28px; padding:4px 0 0 5px; overflow:hidden; background:#efefef; border:#e6e6e6 solid 1px; margin-bottom:12px;}
.trainLayer2 .form span{float:left; padding:0 5px;}
.trainLayer2 .form .input1{float:left; background:url(../image/trainLayer2Input.gif) left top no-repeat; width:167px; height:28px; line-height:28px; padding:0 10px; margin-right:10px;}
.trainLayer2 .form .btn1{float:left; background:url(../image/trainLayer2Btn.gif); width:84px; height:28px;}
.trainLayer2 .btn{text-align:center; padding-top:15px;}
.trainLayer2 .btn a{padding:0 6px;}
.trainLayer2 .table{background:url(../image/trainLayer2.gif) left top no-repeat;}
.trainLayer2 th{height:35px;}
.trainLayer2 td{height:37px; background:url(../image/line1.gif) bottom repeat-x; text-align:center;}
.trainLayer2 td .name_1, .trainLayer2 th .name_1{text-align:left; padding-left:5px;}

.focus{padding:0 4px; background:#fff url(../image/lbg3.gif) left top repeat-x; color:#6a6a6a;}
.focus th{height:49px; border-right:#fff solid 1px;}
.focus .th_01{border-right:0px;}
/*.focus th select{border:#dbdbdb solid 1px; padding:2px;}
.focus th .selectDiv{width:80px; margin:0 auto; background:url(../image/lico.png) right center no-repeat; text-align:left;}*/
.focus td{height:127px; text-align:center; border-bottom:#dbdbdb solid 1px;}
.focus td a{padding:0 6px; color:#666;}

.focus_02{padding:35px 0;}
.focus_02 li{height:55px; line-height:28px; overflow:hidden; padding-left:108px; position:relative;}
.focus_02 em{position:absolute; left:0px; top:0px; width:96px; overflow:hidden; font-size:14px; text-align:right; display:block; color:#666;}
.focus_02 .input1{height:28px; width:174px; float:left; overflow:hidden; padding-left:10px; overflow:hidden; background:url(../image/lbg7.gif) left top no-repeat; margin-right:10px;}
.focus_02 .input1 input{width:100%; height:28px; line-height:28px; color:#999; background:url(../image/lbg7.gif) right bottom no-repeat; float:left;}
.focus_02 .btn1{width:90px; height:32px; color:#fff; cursor:pointer; background:url(../image/lbtn.png) left top no-repeat;}
.focus_02 .btn2{float:left; background:url(../image/btn4.gif); width:75px; height:28px; cursor:pointer;}

.TutorialsTable{padding:0 6px 0 1px;}
.TutorialsTable td{height:35px; border-bottom:#e7e7e7 solid 1px;}
.TutorialsTable td a{padding:0 6px; color:#2471c9;}
.TutorialsTable td .name{padding-left:42px; height:35px; line-height:35px; position:relative;}
.TutorialsTable td input{position:absolute; z-index:1; left:12px; top:8px;}
.TutorialsTable td .name a{color:#333; background:url(../image/ico7.gif) left center no-repeat; padding-left:10px;}
.TutorialsTable .pageNum{padding:25px 15px 0 15px;}
.TutorialsTable .pageNum .btn{width:86px; height:27px; line-height:27px; text-align:center; overflow:hidden; background:url(../image/lbtn9.png) left top no-repeat; color:#fff; display:block; padding:0px;}

.apply{text-align:center; padding:75px 0; font-size:14px;}
.apply .imgDiv{padding-bottom:25px;}

.applyEnd{padding:65px 0 0 240px; position:relative; min-height:180px; _height:180px;}
.applyEnd .imgDiv{position:absolute; left:150px; top:80px;}
.applyEnd .content{font-size:14px; line-height:25px;}
.applyEnd .content span{font-size:16px; color:#d0030c;}

.coursePublish .step{padding:15px 0; text-align:center;}
.coursePublish .name{height:51px; padding:9px 0 0 23px; overflow:hidden; border:#e6e6e6 solid 1px; border-left:0px; border-right:0px; background:#efefef; position:relative;}
.coursePublish .name input{width:673px; height:42px; line-height:42px; overflow:hidden; background:url(../image/lbg6.png) left top no-repeat; padding-left:18px; font-size:14px; color:#888;}
.coursePublish .name .btn{position:absolute; top:12px; right:22px;}
/**/
.coursePublish .form{padding:20px 0; font-size:14px;}
.coursePublish li{height:55px; line-height:43px; padding-left:115px; position:relative; overflow:hidden;}
.coursePublish em{position:absolute; left:0px; top:0px; display:block; width:107px; text-align:right;}
.coursePublish .input1{height:43px; padding-left:10px; width:271px; overflow:hidden; background:url(../image/lbg8.gif) left top no-repeat; float:left;}
.coursePublish .input1 input{width:100%; height:43px; line-height:43px; color:#999; background:url(../image/lbg8.gif) right bottom no-repeat; float:left;}
.coursePublish .tips{float:left; padding:0 0 0 8px;}
.coursePublish .tips img{float:left; position:relative; top:10px; margin-right:10px;}
.coursePublish .ico{position:absolute; left:550px; top:11px; background:url(../image/tips_1.gif) right top no-repeat; height:22px; overflow:hidden;}
.coursePublish li .ico1{float:left; height:22px; line-height:20px; overflow:hidden; background:url(../image/tips_2.gif) left top no-repeat; padding:0 20px 0 35px; color:#fd892c; white-space:nowrap;}
.coursePublish li .ico2{float:left; height:22px; line-height:20px; overflow:hidden; background:url(../image/tips_3.gif) left top no-repeat; padding:0 20px 0 35px; color:#27cd11; white-space:nowrap;}
.coursePublish .btn1{float:left; background:url(../image/btn4.gif); width:75px; height:28px; cursor:pointer; margin:0 8px; position:relative; top:7px; color:#000; font-size:12px;}
.coursePublish a{color:#2037aa; text-decoration:underline;}
.coursePublish .btn2{width:90px; height:32px; border:0px; color:#fff; background:url(../image/lbtn.png) left top no-repeat; cursor:pointer;}
/**/
.coursePublish2{border-top:#ddd dashed 1px; padding:20px 0;}
.coursePublish2 li{height:52px; line-height:28px; overflow:hidden; padding-left:160px; position:relative;}
.coursePublish2 em{position:absolute; left:0px; top:0px; display:block; width:150px; text-align:right; font-size:14px;}
.coursePublish2 .selectDiv{float:left; background:url(../image/lselect.png) left top no-repeat; width:510px; height:28px; line-height:28px; overflow:hidden; color:#999; float:left; margin-right:7px;}
.coursePublish2 .selectDiv1{background:url(../image/lselect1.png) left top no-repeat; width:96px;}
.coursePublish2 .ico{float:left; padding-top:3px;}
.coursePublish2 .input1{height:28px; padding-left:5px; width:505px; overflow:hidden; background:url(../image/lbg7.gif) left top no-repeat; float:left; margin-right:7px;}
.coursePublish2 .input1 input{width:100%; height:28px; line-height:28px; color:#999; background:url(../image/lbg7.gif) right bottom no-repeat; float:left;}
.coursePublish2 .input2{width:390px;}
.coursePublish2 .input3{width:386px;}
.coursePublish2 .tips{float:left; padding-right:7px; color:#999;}
.coursePublish2 .btn1{float:left; background:url(../image/btn4.gif); width:75px; height:28px; cursor:pointer; margin-right:7px; color:#000; font-size:12px;}
.coursePublish2 .map{display:block; float:left; width:60px; padding-left:31px; height:28px; line-height:28px; overflow:hidden; background:url(../image/lbtn10.png) center no-repeat; color:#666;}
.coursePublish2 .checkbox{position:relative; left:-2px; top:2px;}
.coursePublish2 .li_01{height:125px;}
.coursePublish2 .li_01 textarea{background:url(../image/ltext1.png) left top no-repeat; width:500px; height:100px; padding:0px 5px; font-size:12px; line-height:28px; border:0px;}
.coursePublish2 .btn2{width:90px; height:32px; border:0px; color:#fff; background:url(../image/lbtn.png) left top no-repeat; cursor:pointer; margin-right:10px;}
/**/
.CourseAlter{border:0px;}
.CourseAlter .li_02{height:145px; overflow:hidden;}
.CourseAlter dd{float:left; height:99px; width:151px; overflow:hidden;}

.pageLayer_1{position:absolute; z-index:100; left:50%; top:50%; width:410px; overflow:hidden; display:none;}
.pageLayer_1 h5{height:20px; line-height:20px; overflow:hidden; position:relative; text-align:left;}
.pageLayer_1 .close{display:block; background:url(../image/close.gif) left top no-repeat; width:66px; height:17px; overflow:hidden; position:absolute; top:0px; right:15px;}
.pageLayer_1 .bgT{background:url(../image/pageLayerT1.png); height:22px; overflow:hidden;}
.pageLayer_1 .bgT_1{background:url(../image/pageLayerT1_1.png); height:22px; overflow:hidden;}
.pageLayer_1 .bgB{background:url(../image/pageLayerB1.png); height:15px; overflow:hidden;}
.pageLayer_1 .bg{background:url(../image/pageLayerBg1.png) left repeat-y; min-height:30px; _height:30px;}
.pageLayer_1 .content{line-height:24px; padding:0 15px; text-align:justify;}

.myShop{padding:0 15px;}
.myShop .imgDiv{padding:25px 0 35px 0; background:url(../image/lline1.gif) left bottom repeat-x; text-align:center;}
.myShop h2{padding:25px 0 10px 10px;}
.myShop .content{height:333px; overflow:hidden; overflow-y:auto; line-height:23px; color:#878787; padding:10px 15px; border:#ddd solid 1px;}
.myShop .msg{padding:8px 0 0 15px; height:30px; overflow:hidden;}
.myShop .msg input{position:relative; left:-2px; top:2px;}
.myShop .btnDiv{height:66px; overflow:hidden; padding-top:15px; text-align:center;}
.myShop .btn1{width:110px; height:32px; border:0px; color:#fff; background:url(../image/lbtn.gif) left top no-repeat; cursor:pointer; margin:0 5px;}
.myShop .content1{background:url(../image/lbg12.gif) left top no-repeat; width:734px; height:115px; overflow:hidden; padding:4px 13px;}

.Personal .list{padding:10px 0 0 32px; border-bottom:#3f3f3f solid 2px; height:29px; overflow:hidden;}
.Personal .list li{float:left; padding-right:2px;}
.Personal .list a{float:left; width:102px; text-align:center; height:29px; line-height:29px; overflow:hidden; background:url(../image/limg102_1.png) left top no-repeat; font-size:14px; display:block;}
.Personal .list a:hover, .Personal .list .aNow{background:url(../image/limg102_2.png) left top no-repeat; color:#fff;}
/**/
.Personal .form{padding:25px 0;}
.Personal .form li{height:50px; line-height:28px; overflow:hidden; padding-left:120px; position:relative;}
.Personal .form em{width:110px; text-align:right; display:block; overflow:hidden; position:absolute; left:0px; top:0px; font-size:14px; color:#393c3d;}
.Personal .input1{height:28px; padding-left:5px; width:505px; overflow:hidden; background:url(../image/lbg7.gif) left top no-repeat; float:left;}
.Personal .input1 input{width:100%; height:28px; line-height:28px; color:#999; background:url(../image/lbg7.gif) right bottom no-repeat; float:left;}
.Personal .input2{width:420px;}
.Personal .input3{width:202px; margin-right:85px;}
.Personal .btn1{float:left; background:url(../image/btn4.gif); width:75px; height:28px; cursor:pointer; margin-left:10px; color:#000; font-size:12px;}
.Personal .tips{color:#999; float:left; padding-left:12px;}
.Personal .selectDiv{float:left; background:url(../image/lselect.png) left top no-repeat; width:510px; height:28px; line-height:28px; overflow:hidden; color:#999; float:left; margin-right:7px;}
.Personal .selectDiv1{width:178px; background:url(../image/lselect2.png) left top no-repeat;}
.Personal .selectDiv2{width:66px; background:url(../image/lselect3.png) left top no-repeat;}
.Personal .btn2{width:159px; height:25px; border:0px; background:url(../image/lbtn12.png) left top no-repeat; padding-left:16px; color:#393c3d;}
.Personal .form .li_01{height:100px;}
.Personal textarea{width:510px; height:81px; border:0px; background:url(../image/ltext2.png) left top no-repeat;}
.Personal .btn3{width:90px; height:32px; border:0px; color:#fff; background:url(../image/lbtn.png) left top no-repeat; cursor:pointer; float:left;}
.Personal .name{float:left; font-size:14px; padding-right:10px;}
.Personal .form .li_02{height:246px;}

.Agency{width:511px; height:213px; overflow:hidden; background:url(../image/lbg13.png) left top no-repeat; padding-top:14px;}
.Agency .input3{margin-right:36px;}
.Agency .input4{width:206px;}
.Agency dd{float:left; height:45px; line-height:28px; overflow:hidden;}
.Agency .name1{float:left; padding:0 10px 0 19px;}
.Agency .dd_01{height:126px;}
.Agency textarea{float:left; width:396px; height:69px; overflow:hidden; background:url(../image/ltext3.png) left top no-repeat;}
.Agency .btnDiv{padding-left:80px; position:relative; top:15px;}
.Agency .btn4{width:105px; height:25px; border:0px; background:url(../image/lbtn13.png) left top no-repeat;}

.basicList{padding:0 0 0 28px;}
.basicList .name{font-size:14px; padding-bottom:15px;}
.basicList li{float:left; width:83px; height:106px; overflow:hidden; background:url(../image/lbg18.png) left top no-repeat; text-align:center; position:relative;}
.basicList li a{display:block; cursor:pointer; width:72px; height:72px; padding-top:5px; overflow:hidden; position:relative;}
.basicList li .img{position:absolute; top:1px; right:12px;}
.basicList li h5{font-weight:100; text-align:left; color:#e60012; background:url(../image/ico10.gif) 2px center no-repeat; padding-left:20px;}
.basicList .liNow h5{background:url(../image/ico11.gif) 2px center no-repeat;}
.basicList li h5 input{float:left; position:relative; left:-2px; display:none;}

.signInLayer{position:absolute; z-index:20; background:url(../image/signInLayer.png) left top no-repeat; width:230px; height:161px; overflow:hidden; display:none;}
.signInLayer .closeDiv{height:20px; overflow:hidden; padding:20px 10px 0 0;}
.signInLayer .closeDiv a{display:block; background:url(../image/close.gif) left top no-repeat; width:66px; height:17px; overflow:hidden; margin-left:auto;}
.signInLayer li{padding:0 0 10px 30px;}
.signInLayer .checkbox{position:relative; left:-2px; top:2px;}
.signInLayer .selectDiv{background:url(../image/select1.png) left top no-repeat; width:182px; height:28px; line-height:28px;}
.signInLayer .btn1{background:url(../image/lcBtn8.gif); width:70px; height:28px; font-size:14px; color:#FFF; margin-top:5px;}

.requestForm{padding-top:35px;}
.requestForm li{height:48px; line-height:28px; overflow:hidden; position:relative; padding-left:125px;}
.requestForm em{position:absolute; z-index:1; left:58px; top:0px; white-space:nowrap; font-size:14px;}
.requestForm .input1{float:left; background:url(../image/input1.png) left top no-repeat; width:500px; height:28px; line-height:28px; padding:0 5px; border:0px; margin-right:10px;}
.requestForm .input2{background:url(../image/input2.png) left top no-repeat; width:536px;}
.requestForm .selectDiv{float:left; background:url(../image/select2.png) left top no-repeat; width:510px; height:28px;}
.requestForm .btn1{background:url(../image/btn7.png) left top no-repeat; width:90px; height:32px; font-size:14px; color:#FFF;}
