<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-lazy-init="true">

	<!-- SpyMemcached客户端 -->

	
	
	<!-- 演示用的Jmemcached服务端模拟Memcached -->
<!--	<bean id="jmemcached" class="com.cmdi.b2bjoy.common.cache.JmemcachedServer"-->
<!--		lazy-init="false" />-->
</beans>