<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
     http://www.springframework.org/schema/tx 
     http://www.springframework.org/schema/tx/spring-tx-2.0.xsd 
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
 
	 <bean id="channelPicsMap" class="java.util.HashMap">
	       <constructor-arg>
	         <map>
				<entry key="1" value="images/chanel/fashion.gif"></entry>
				<entry key="2" value="images/chanel/gromming.gif"></entry>
				<entry key="3" value="images/chanel/health.gif"></entry>
				<entry key="4" value="images/chanel/art.gif"></entry>
				<entry key="5" value="images/chanel/living.gif"></entry>
				<entry key="6" value="images/chanel/business.gif"></entry>
				<entry key="7" value="images/chanel/cars.gif"></entry>
				<entry key="8" value="images/chanel/watch.gif"></entry>
				<entry key="9" value="images/chanel/digital.gif"></entry>
			</map>
	      </constructor-arg>
     </bean>
     
</beans> 
